@charset "utf-8";
/* CSS Document */

body{
font-family: 'Calibri', sans-serif;
font-weight:400;
font-size: 14px;
line-height: 20px;
color: #333;
}

h1, h2, h3, h4, h5, h6 { 
font-family: 'Droid Serif', Arial, serif; 
font-weight: 400;
 }
 
.blue{
color:#008dd2;
}

.heavy{
font-weight:700;
}

.contain-to-grid {
background: #fff;
padding-bottom:1em;
}

.topSpace {
padding: 1em 0 1em 0;
}

.heading {
padding: 0.25em 0 0 0;
font-style: oblique;
}

.tag {
font-style: oblique;
}

.contentLeft {
	float:left;
	width:50%;
}

.contentRight{
	float:left;
	width:50%;

}

.contentLeft.people {
	float:left;
	width:25%;
	padding-right:10px;
}

.contentRight.people{
	float:left;
	width:75%;

}

.contentWrapper{
	
	float:left;
}


.contentWrapper ul {
	
	float:left;
}

/*.persInfo {
	height: 180px;
	overflow-y: auto;
	
}*/
.fi-mail, .fi-telephone, .fi-marker, .fi-stop{
	color:#008dd2;
    }
	
.bkImage {
	background-repeat:no-repeat;
	height:350px;	
}

.slideContent{
	position: absolute;
	top:-6px;
	left:57%;
}

ul.dashed-list
{
    list-style: none outside none;
	margin-left:0;
}

.innerList {
	margin-left: 15px!important;	
}

ul.dashed-list li {
    list-style-type: none;
}

ul.normal-list
{
    list-style: none outside none;
	margin-left:0;
}

ul.normal-list li {
    list-style-type: none;
}

.slight{
	font-size:0.65rem;	
}

@media only screen and (max-width: 700px)  {
	
h2 {
font-size:1.5rem;
}
ul.dashed-list{
font-size:0.75rem;	
}
ul.dashed-list li{
overflow:hidden;	
}

    }
	
	
@media only screen and (max-width: 560px)  {
	
h2 {
font-size:1.2rem;
}

ul.dashed-list{
font-size:0.75rem;	
}
ul.dashed-list li{
overflow:hidden;	
}

    }
	
@media only screen and (min-width: 640px)  {
	
.heading {
padding: 1.85em 0 0 0;
}
    }