﻿.modal--medium .modal-dialog {
    width: 800px !important;
    margin: 30px auto;
}

/*#termsContentHolder, #privacyContentHolder {
            max-height: 640px !important;
            overflow-y: scroll !important;
            padding: 0 5px 10px;
        }*/


.panel_box {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: calc(3vh - 8px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
}

    .panel_box:before, .panel_box:after {
        display: table;
        content: " ";
    }

    .panel_box:after {
        clear: both;
    }

    .panel_box > .panel_box__header {
        padding: 0.4vh 0.5vw;
        background: #363b3f;
        color: #fff;
        position: relative;
    }

        .panel_box > .panel_box__header > h3 {
            font-size: 2vh;
            margin: 0;
            font-weight: bold;
            display: inline;
        }

            .panel_box > .panel_box__header > h3 > span {
                font-size: 11px;
            }

        .panel_box > .panel_box__header > .panel_box__header__add {
            float: right;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            margin-left: 12px;
            margin-top: -0.4vh;
            font-size: 1.5vh;
        }

            .panel_box > .panel_box__header > .panel_box__header__add > span {
                background: #fff;
                color: #000;
                padding: 1px 14px;
                margin-left: 6px;
                font-weight: 700;
                line-height: 1.7em;
            }

                .panel_box > .panel_box__header > .panel_box__header__add > span.blue {
                    color: #307bbb;
                }

                .panel_box > .panel_box__header > .panel_box__header__add > span.red {
                    color: #dd2222;
                }

                .panel_box > .panel_box__header > .panel_box__header__add > span.orange {
                    color: #ff8f0e;
                }

                .panel_box > .panel_box__header > .panel_box__header__add > span.green {
                    color: #4db53c;
                }

.glyphicon.green {
    color: #4db53c;
}

.panel_box > .panel_box__content {
    padding: 12px;
    background: #fff;
}

.panel_box .panel_box__content__report {
    display: none;
    overflow: hidden;
}

    .panel_box .panel_box__content__report.open {
        animation: pop_in;
    }

.modal-content .panel_box {
    margin-bottom: 0;
}

.modal-content .panel_box__content {
    position: relative;
    min-height: 100px;
    max-height: calc(100vh - 300px);
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.panel_box > .panel_box__header > .panel_box__header__add > button {
    color: #fff;
    opacity: 1;
    outline: 0;
}

.modal.modal--grey .panel_box__content {
    background-color: #e7e7e7;
}


.passwordrequirements {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}

.passwordrequirements li {
    margin: 0px;
    padding: 5px 0;
    font-size: 12px;
}