﻿@charset "utf-8";
/* CSS Document */


body{
font-family: 'Calibri', sans-serif;
font-weight:400;
}

h1, h2, h3, h4, h5, h6 { 
font-weight: 400;
color:#fff;
 }
 
h2 {
font-size:3.3rem;
margin-bottom: 0;
margin-top: 1rem;
float:right;
}

p {
color:#fff;
font-size: 1.1rem;
margin-bottom:4rem;
float:right;
line-height:0;
}


.links {
font-size:0.75rem;
color:#fff;
text-decoration:underline;
float:right;
}
 
.upper{
text-transform:uppercase;
font-weight:700;
}

.extraBottom{
margin-bottom:2rem;	
}

.extraTop{
margin-top:2rem;	
}

.heading {
padding: 0.25em 0 0 0;
font-style: oblique;
font-size:1.6rem;
}



form .row .row .column, form .row .row .columns {
padding: 0 0.4rem 0.2rem 0;
}

.postfix{
height:1rem;	
}

.postfix.button{
line-height:1rem;
-webkit-border-radius: 3px;
border-radius: 3px;	
}


		@media only screen and (max-width: 1024px) 
 {
		}





/*overide foundation table style*/
 .adjt table {
background: transparent;
margin-bottom: 1.25rem;
border: 0;
float:right;
}

form .row .row.collapse input {
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
}


/*overide dx controls*/
        .dxmMenu_Office2003Blue, .dxmVerticalMenu_Office2003Blue {
        color: white;
        background: #3ab0e9;
        border: 1px solid #005c89;
        padding: 3px;
        }

        .dxmMenu_Office2003Blue a, .dxmVerticalMenu_Office2003Blue a {
        color: white;
        text-decoration: none;
        }

        .dxmSubMenuGutter_Office2003Blue {
        background:none;
        }

       .dxmSubMenu_Office2003Blue {
        font: 12px Tahoma, Geneva, sans-serif;
        color: black;
        background: #fff ;
        }

       .dxmSubMenu_Office2003Blue a {
        color: black;
        }

       .dxmSubMenu_Office2003Blue a:hover {
        color: white;
        }

        .dxmSubMenuItemHover_Office2003Blue, .dxmSubMenuItemHoverWithImage_Office2003Blue, .dxmSubMenuItemHoverWithPopOutImage_Office2003Blue, .dxmSubMenuItemHoverWithImageWithPopOutImage_Office2003Blue, .dxmSubMenuRtlItemHover_Office2003Blue, .dxmSubMenuRtlItemHoverWithImage_Office2003Blue, .dxmSubMenuRtlItemHoverWithPopOutImage_Office2003Blue, .dxmSubMenuRtlItemHoverWithImageWithPopOutImage_Office2003Blue {
        background: #FFa640 ;
        border: 1px solid transparent;
        }

        .dxmMenuItemSelected_Office2003Blue, .dxmMenuItemSelectedWithImage_Office2003Blue, .dxmMenuItemSelectedWithPopOutImage_Office2003Blue, .dxmMenuItemSelectedWithImageWithPopOutImage_Office2003Blue, .dxmVerticalMenuItemSelected_Office2003Blue, .dxmVerticalMenuItemSelectedWithImage_Office2003Blue, .dxmVerticalMenuItemSelectedWithPopOutImage_Office2003Blue, .dxmVerticalMenuItemSelectedWithImageWithPopOutImage_Office2003Blue, .dxmVerticalMenuRtlItemSelected_Office2003Blue, .dxmVerticalMenuRtlItemSelectedWithImage_Office2003Blue, .dxmVerticalMenuRtlItemSelectedWithPopOutImage_Office2003Blue, .dxmVerticalMenuRtlItemSelectedWithImageWithPopOutImage_Office2003Blue, .dxmMenuLargeItemSelected_Office2003Blue, .dxmMenuLargeItemSelectedWithImage_Office2003Blue, .dxmMenuLargeItemSelectedWithPopOutImage_Office2003Blue, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeItemSelected_Office2003Blue, .dxmVerticalMenuLargeItemWithImageSelected_Office2003Blue, .dxmVerticalMenuLargeItemSelectedWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeRtlItemSelected_Office2003Blue, .dxmVerticalMenuLargeRtlItemWithImageSelected_Office2003Blue, .dxmVerticalMenuLargeRtlItemSelectedWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeRtlItemSelectedWithImageWithPopOutImage_Office2003Blue {
        background: #FFa640 ;
        border: 1px solid #a65900;
        }

        .dxmMenuItemHover_Office2003Blue, .dxmMenuItemHoverWithImage_Office2003Blue, .dxmMenuItemHoverWithPopOutImage_Office2003Blue, .dxmMenuItemHoverWithImageWithPopOutImage_Office2003Blue, .dxmVerticalMenuItemHover_Office2003Blue, .dxmVerticalMenuItemHoverWithImage_Office2003Blue, .dxmVerticalMenuItemHoverWithPopOutImage_Office2003Blue, .dxmVerticalMenuItemHoverWithImageWithPopOutImage_Office2003Blue, .dxmVerticalMenuRtlItemHover_Office2003Blue, .dxmVerticalMenuRtlItemHoverWithImage_Office2003Blue, .dxmVerticalMenuRtlItemHoverWithPopOutImage_Office2003Blue, .dxmVerticalMenuRtlItemHoverWithImageWithPopOutImage_Office2003Blue, .dxmMenuLargeItemHover_Office2003Blue, .dxmMenuLargeItemHoverWithImage_Office2003Blue, .dxmMenuLargeItemHoverWithPopOutImage_Office2003Blue, .dxmMenuLargeItemHoverWithImageWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeItemHover_Office2003Blue, .dxmVerticalMenuLargeItemHoverWithImage_Office2003Blue, .dxmVerticalMenuLargeItemHoverWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeRtlItemHover_Office2003Blue, .dxmVerticalMenuLargeRtlItemHoverWithImage_Office2003Blue, .dxmVerticalMenuLargeRtlItemHoverWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeRtlItemHoverWithImageWithPopOutImage_Office2003Blue {
        background: #FFa640 ;
        border: 1px solid #a65900;
        }

        .dxtcActiveTab_Office2003Blue, .dxtcActiveTabWithTabPositionBottom_Office2003Blue, .dxtcActiveTabWithTabPositionLeft_Office2003Blue, .dxtcActiveTabWithTabPositionRight_Office2003Blue {
        border: 1px solid #777;
        padding: 4px 12px;
        background: #eee ;
        text-align: center;
        }

        .dxtcTab_Office2003Blue, .dxtcTabWithTabPositionLeft_Office2003Blue, .dxtcTabWithTabPositionBottom_Office2003Blue, .dxtcTabWithTabPositionRight_Office2003Blue {
        background: #ccc ;
        border: 1px solid #777;
        padding: 4px 12px;
        text-align: center;
        }

        .dxtcPageContent_Office2003Blue, .dxtcPageContentWithTabPositionBottom_Office2003Blue, .dxtcPageContentWithTabPositionLeft_Office2003Blue, .dxtcPageContentWithTabPositionRight_Office2003Blue, .dxtcPageContentWithoutTabs_Office2003Blue {
        background-color: #eee;
        vertical-align: top;
        }

        .dxgvHeader_Office2003Blue {
        cursor: pointer;
        padding: 4px 6px 5px;
        border: 1px solid #777;
        background: #ccc;
        overflow: hidden;
        font-weight: normal;
        }

        .dxgvControl_Office2003Blue, .dxgvDisabled_Office2003Blue {
            border: 1px solid #777;
        }

        #ctl00_ContentPlaceHolder1_ASPxPageControl1_CC{
    border-color:#777!important;
        }

        .dxgvEditFormDisplayRow_Office2003Blue td.dxgv, .dxgvDataRow_Office2003Blue td.dxgv, .dxgvDataRowAlt_Office2003Blue td.dxgv, .dxgvSelectedRow_Office2003Blue td.dxgv, .dxgvFocusedRow_Office2003Blue td.dxgv {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        }

        .dxgvFilterRow_Office2003Blue td.dxgv {
        border-bottom: 1px solid #777;
        border-right: 1px solid #777;
        }
        .dxgvFilterRow_Office2003Blue {
         background: #eee; 
        }

        .dxgvTitlePanel_Office2003Blue, .dxgvTable_Office2003Blue caption {
        color: white;
        font-weight: bold;
        padding: 0;
        text-align: center;
        border-bottom: none;
        background: #ccc;
        }

        .dxmSubMenuItemSelected_Office2003Blue, .dxmSubMenuItemSelectedWithImage_Office2003Blue, .dxmSubMenuItemSelectedWithPopOutImage_Office2003Blue, .dxmSubMenuItemSelectedWithImageWithPopOutImage_Office2003Blue, .dxmSubMenuRtlItemSelected_Office2003Blue, .dxmSubMenuRtlItemSelectedWithImage_Office2003Blue, .dxmSubMenuRtlItemSelectedWithPopOutImage_Office2003Blue, .dxmSubMenuRtlItemSelectedWithImageWithPopOutImage_Office2003Blue {
        background: #fff;
        border: 1px solid #FF8900 ;
        }

        .dxeButtonEditButton_Office2003Blue {
        background: #eee;
        padding: 0px 1px;
        }

        .dxeListBoxItemSelected_Office2003Blue {
        color: black;
        background-color: #fff;
        }

        .dxeListBoxItemHover_Office2003Blue {
        color: white;
        background-color: #ff8900;
        }

        .dxeButtonEdit_Office2003Blue {
        background-color: white;
        border: 1px solid #777;
        }

        .dxgvFooter_Office2003Blue {
        background-color: #ccc;
        white-space: nowrap;
        }

        .dxgvFooter_Office2003Blue td.dxgv {
        padding: 3px 6px 5px;
        border-bottom: 1px solid #777;
        border-top:1px solid #777;
        border-right: none;
        }

        .dxeTextBox_Office2003Blue, .dxeMemo_Office2003Blue {
        background-color: white;
        border: 1px solid #777;
        }


       .dxbButton_Office2003Blue {
            color: #000000;
            font: normal 12px Tahoma, Geneva, sans-serif;
            vertical-align: middle;
            border: 1px solid #777;
            background: #ddd;
            padding: 1px;
            cursor: pointer;
        }



         .dxpgArea_Office2003Blue {
border: none;
background-color: #eee;
}

         .dxpgHeader_Office2003Blue {
color: white;
background: #008dd2;
}

 .dxpgHeaderHover_Office2003Blue{
             background:#ff8900;


         }

         .dxpgFilterArea_Office2003Blue {
background: #eee;
color: #777;
border-bottom-style: dashed;
}
         .dxpgColumnFieldValue_Office2003Blue {
background-color: #ccc;
border: solid 1px #777;
}



        .dxpgControl_Office2003Blue, .dxpgCustForm_Office2003Blue {
border: solid 1px #777!important;
}

        .dxpgCell_Office2003Blue {
background-color: #fff;
border-color: #ddd;
border-width: 1px;
border-top-style: solid;
border-left-style: solid;
border-bottom-style: none;
border-right-style: none;
}


                 .dxpgRowFieldValue_Office2003Blue {
background-color: #eee;
border: solid 1px #777;
border-left-style: none;
border-bottom-style: none;
border-right-style: solid;
border-top-style: solid;
}

               .dxpgRowGrandTotalFieldValue_Office2003Blue {
                   background-color: #ccc; 
}


               .dxpgRowTotalFieldValue_Office2003Blue {
background-color: #ccc;
border-left-style: none;
border-bottom-style: none;
border-right-style: solid;
border-top-style: solid;
}

               .dxpgGrandTotalCell_Office2003Blue {
background-color: #ccc;
}
               .dxpgBottomPager_Office2003Blue {
border-top: solid 1px #777;
border-bottom: none;
border-right: none;
border-left: none;
}

.dxgvControl_Office2003Blue, .dxgvDisabled_Office2003Blue {
border: 1px solid #777;
font: 12px Tahoma, Geneva, sans-serif;
background-color: white;
color: black;
cursor: default;
} 