﻿@charset "utf-8";
/* CSS Document */


body{
font-family: 'Calibri', sans-serif;
font-weight:400;
background-image: url("../img/parts-background.png"); 
background-repeat: no-repeat;
background-size: cover;
}

h1, h2, h3, h4, h5, h6 { 
font-weight: 400;
color:#fff;
 }
 
h2 {
font-size:3.3rem;
margin-bottom: 0;
margin-top: 1rem;
float:right;
}

p {
color:#fff;
font-size: 1.1rem;
margin-bottom:4rem;
float:right;
line-height:0;
}

.scroll-content  p {
    color:#000;
    font-size: 1rem;
margin-bottom: 1rem;
float: none;
line-height: 1.2;
}

.scroll-content h3 {
    color:#000;
}

.links {
font-size:0.75rem;
color:#fff;
text-decoration:underline;
float:right;
}

    .links:hover {
        font-size: 0.75rem;
        color: #fff;
        text-decoration: underline;
        float: right;
    }
 
.upper{
text-transform:uppercase;
font-weight:700;
}

.extraBottom{
margin-bottom:5rem;	
}

.extraTop{
margin-top:2rem;	
}

.tagLine{
margin-top:5rem;
font-style:italic;
font-size:1.5rem;

}

.heading {
padding: 0.25em 0 0 0;
font-style: oblique;
font-size:1.6rem;
}

.button{
background-color:#cf142b;
border-color:#b20000;
}

.button:hover, .button:focus{
background-color:#b20000;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	
height:1.6rem;	
margin: 0 0 0.4rem 0;
padding:0.2rem;
}

form .row .row .column, form .row .row .columns {
padding: 0 0.5rem 0.2rem 0;
}

.postfix{
height:1rem;	
}

.postfix.button{
line-height:1rem;
-webkit-border-radius: 3px;
border-radius: 3px;
height:1.6rem;	
}

div#cookieModal  p {
    color:#000;
    font-size: 1rem;
    margin-bottom: 1rem;
    float: none;
    line-height: 1.2;
}

div#cookieModal h3{
    color:#cf142b;
}

.cookieInfo {
    height: 300px;
    overflow: scroll;
    width: 99%;
    padding: 10px;
}
div#forgotModal  p {
    color:#000;
    font-size: 1rem;
    margin-bottom: 1rem;
    float: none;
    line-height: 1.2;
}

div#forgotModal h3{
    color:#cf142b;
    margin-left:14px;
}

.forgotInfo{
    height:100px;
}

div#extraModal  p {
    color:#000;
    font-size: 1rem;
    margin-bottom: 1rem;
    float: none;
    line-height: 1.2;
    margin-left:14px;
}

div#extraModal h3{
    color:#ff0000;
    margin-left:14px;
}

.extraInfo{
    height:100px;
}

div#detailsModal  p {
    color:#000;
    font-size: 1rem;
    margin-bottom: 1rem;
    float: none;
    line-height: 1.2;
}

div#detailsModal h3{
    color:#f00;
    margin-left:14px;
}

.detailsInfo{
    height:50px;
}

.send{
    height:1.6rem;
}

.errorMsg{
    font-family: 'Calibri', sans-serif;
    font-weight: 400;
    }

.errorMsg span{
    padding-left:4px;
}

.dxpcContentPaddings {
padding: 10px;
}

.dxpcCloseButton img{
    max-width: none;
}

.dxpcHeader{
    background-color:white;
border: none;

}

.dxpcHeader td.dxpc {
color: red;
font-size:20px;
font-weight:700px;
}

.dxpc-contentWrapper {

background:#ff000;
}


		@media only screen and (max-width: 1024px) 
 {
			body { 
				background-image: url("../img/qube-trade-background-small.jpg"); 

			}

            .vanish{
                display:none;
            }

            .tagLine{
                margin-bottom: 2rem;
            }
		}
/*overide foundation table style*/
 .adjt table {
background: transparent;
margin-bottom: 1.25rem;
border: 0;
float:right;
}

form .row .row.collapse input {
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
}
/*overide dx controls*/
.dxmMenu_Office2003Blue, .dxmVerticalMenu_Office2003Blue {
        font: 12px Tahoma, Geneva, sans-serif;
        color: white!important;
        background: #cf142b!important ;
        border: 1px solid #b20000!important;
        padding: 3px;
}


