<%@ Master CodeFile="MasterPage.master.vb" Inherits="MasterPage" Language="VB" %>

<%@ Register Assembly="DevExpress.Web.v14.2, Version=14.2.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

<head id="Header" runat="server">

    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="google-site-verification" content="loRAmDBefygXHNe6aiDgDLak41BHnSGgp1-64hCQhzE" />

    <title>Nissan Trade Site</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/font-awesome.min.css" />
    <link rel="shortcut icon" href="/assets/images/nissan/favicon.ico?v=2" />
    <link rel="stylesheet" href="/styles/master.css?v=2" />

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <script type="text/javascript">
            // <![CDATA[
            function printpage() {
                window.print();
            }
            // ]]> 
    </script>
    
    <style type="text/css">
        .style2 {
            width: 100%;
        }

        .style3 {
            font-family: Calibri;
        }

            .style3 h3 {
                padding-top: 0px;
                font-weight: 400;
            }

        .style5 {
            font-family: Calibri;
            width: 75%;
        }

        body {
            margin: 0 10px 10px 10px;
        }

        div.row50 {
            position: absolute;
            left: 50px;
            }

        div.row100 {
            position: absolute;
            left: 100px;
            }
       
        div.row120 {
            position: absolute;
            left: 120px;
            }

        div.row150 {
            position: absolute;
            left: 150px;
            }

        div.row200 {
            position: absolute;
            left: 200px;
            }

        div.row250 {
            position: absolute;
            left: 250px;
            }

        div.row300 {
            position: absolute;
            left: 300px;
            }

        div.row350 {
            position: absolute;
            left: 350px;
            }

        div.row400 {
            position: absolute;
            left: 400px;
            }
       
        div.row450 {
            position: absolute;
            left: 450px;
            }

        div.row500 {
            position: absolute;
            left: 500px;
            }

        div.row550 {
            position: absolute;
            left: 550px;
            }

        div.row600 {
            position: absolute;
            left: 600px;
            }

        div.row650 {
            position: absolute;
            left: 650px;
            }

        div.row700 {
            position: absolute;
            left: 700px;
            }
       
        div.row750 {
            position: absolute;
            left: 750px;
            }

        div.row800 {
            position: absolute;
            left: 800px;
            }

        div.row850 {
            position: absolute;
            left: 850px;
            }

        div.row900 {
            position: absolute;
            left: 900px;
            }

        div.row950 {
            position: absolute;
            left: 950px;
            }

        div.row1000 {
            position: absolute;
            left: 1000px;
            }
       
        div.row1050 {
            position: absolute;
            left: 1050px;
            }

        div.row1100 {
            position: absolute;
            left: 1100px;
            }

        div.row1150 {
            position: absolute;
            left: 1150px;
            }

        div.row1200 {
            position: absolute;
            left: 1200px;
            }

        div.row1250 {
            position: absolute;
            left: 1250px;
            }

        div.row1300 {
            position: absolute;
            left: 1300px;
            }

        div.row1350 {
            position: absolute;
            left: 1350px;
            }

    </style>
        <asp:ContentPlaceHolder runat="server" ID="HeaderCSSJS"></asp:ContentPlaceHolder>
</head>

<body style="background-color: White; width: 80%; margin: 0 auto;">

    <form id="form1" runat="server">

        <dx:ASPxPopupControl 
               ID="PopMastCustSrch" 
               runat="server" 
               ShowOnPageLoad="False" 
               ClientInstanceName="PopMastCustSrch" 
               Modal="True" 
               CloseAction="CloseButton" 
               AllowDragging="True" 
               Width="400px" 
               Height="75px"
               PopupHorizontalAlign="WindowCenter" 
               PopupVerticalAlign="WindowCenter" 
               ShowHeader="True" 
               HeaderStyle-Font-Size="Larger"
               HeaderText="Customer Search">
            
            <ContentCollection>
                <dx:PopupControlContentControl 
                    ID="Popupcontrolcontentcontrol5" 
                    runat="server">
                    <asp:Panel 
                        Id="Panel1" 
                        runat="server" 
                        DefaultButton="btnMastCustSearchBind" 
                        Width="100%">
                        <table id="tabLoadList" style="width:100%">

                            <tr>
                                <td align="left" colspan="2">
                                    <dx:ASPxLabel 
                                        ID="lblSearch1" 
                                        runat="server" 
                                        Text="Enter Customer Id or Name"/>
                                </td>
                            </tr>

                            <tr>

                                <td align="left" valign="middle" style="width:50%" >
                                    <dx:ASPxTextBox
                                        ID="txtMastCustSearch" 
                                        runat="server" 
                                        Width="98%"/>
                                </td>

                                <td align="left" valign="middle"  style="width:50%" >
                                    <dx:ASPxButton 
                                        ID="btnMastCustSearchBind" 
                                        runat="server" 
                                        Width="40px"
                                        Text="..." />
                                </td>

                            </tr>

                            <tr>
                                <td align="left" colspan="2">
                                    <dx:ASPxLabel 
                                        ID="lblSearch2" 
                                        runat="server" 
                                        Text="Results"/>
                                </td>
                            </tr>
                            <tr align="left">
                                <td valign="middle" colspan="2">
                                    <dx:ASPxComboBox 
                                        ID="ddlMastCustSrch" 
                                        runat="server" 
                                        Width="380px" 
                                        DropDownWidth="550" 
                                        DropDownStyle="DropDown" 
                                        ValueField="Id"
                                        ValueType="System.String" 
                                        IncrementalFilteringMode="StartsWith" 
                                        CallbackPageSize="30">
                                    </dx:ASPxComboBox>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" colspan="2">
                                    <dx:ASPxButton 
                                        ID="btnMastCustGoTo" 
                                        runat="server" 
                                        Text="Go" 
                                        Width="75px" 
                                        style="margin-right:0px; margin-top:10px">
                                    </dx:ASPxButton>
                                </td>
                            </tr>
                        </table>
                    </asp:Panel>
                </dx:PopupControlContentControl>
            </ContentCollection>
        </dx:ASPxPopupControl>

        <div id="Page" style="margin: 0 auto 10px auto">

            <div id="PageHeader">
                <table style="width: 100%; border: 0;">
                    <tr>
                        <td colspan="3" class="style3" align="left" valign="top">
                            <asp:Image ID="Image1" runat="server" ImageUrl="~/Images2014/new_logo_light.png" Height="59px" Width="432px" style="margin-top:10px" />
                        </td>
						<td colspan="3" class="style3" align="right" valign="top">
                           <ul class="menu_links">
                                <li>
                                    <a href="https://www.nissanngage.co.uk/web/guest" target="_blank">N-gage</a>
                                </li>
                                <li>
                                    <a href="https://www.nmsonline.com" target="_blank">NMS Online</a>
                                </li>
                                <li>
                                    <a href="http://www.nissantradedirect.co.uk/" target="_blank">Nissan Trade Direct</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="MenuDiv" style="width: 100%; text-align: right;">
                <table class="style2">
                    <tr>
                        <td class="style3" align="right" valign="top">
                            <dx:ASPxMenu ID="ASPxMenu1" runat="server" BackColor="White" Theme="Default" CssClass="menu_icons">
                                <ItemStyle HorizontalAlign="Left" />
                                <ItemStyle BackColor="White" />
                                <Paddings Padding="0px" />
                                <Items>

                                    <dx:MenuItem Name="mnuDashboard" Text="" NavigateUrl="~/Dashboard.aspx" Visible="True">
                                        <Image AlternateText="Dashboard" Height="30px" ToolTip="Dashboard" Url="~/Images2014/icons2014/Dashboard.png" UrlHottracked="~/Images2014/icons2014/Dashboard_Hover.png" Width="35px">
                                        </Image>
                                    </dx:MenuItem>

                                    <dx:MenuItem Text="" Name="mnuHeadOffice">
                                        <Image Url="~/Images2014/icons2014/Head Office.png" AlternateText="Head Office" Height="30px" ToolTip="Head Office" Width="35px" UrlHottracked="~/Images2014/icons2014/Head Office_Hover.png">
                                        </Image>
                                    </dx:MenuItem>

                                    <dx:MenuItem Name="mnuCustomers" Text="" NavigateUrl="~/report1.aspx" Visible="True">
                                        <Image AlternateText="Customers" Height="30px" ToolTip="Customers" Url="~/Images2014/icons2014/Customers.png" UrlHottracked="~/Images2014/icons2014/Customers_Hover.png" Width="35px">
                                        </Image>
                                    </dx:MenuItem>

                                    <dx:MenuItem Name="mnuReports" Text="" NavigateUrl="~/report3.aspx">
                                        <Image Url="~/Images2014/icons2014/Reports.png" AlternateText="Reports" Height="30px" ToolTip="Reports" Width="35px" UrlHottracked="~/Images2014/icons2014/Reports_Hover.png">
                                        </Image>
                                    </dx:MenuItem>

                                    <%-- %><dx:MenuItem Text="" Name="mnuMapping">
                                        <Image AlternateText="Campaigns" Height="30px" ToolTip="Mapping" Url="~/Images2014/icons2014/Mapping.png" UrlHottracked="~/Images2014/icons2014/Mapping1_Hover.png" Width="35px">
                                        </Image>
                                    </dx:MenuItem> --%>

                                    <dx:MenuItem Name="mnuAdvancedReport" Text="" NavigateUrl="~/AdvQueryTool.aspx">
                                        <Image AlternateText="Advanced Reporting " Height="30px" ToolTip="Advanced Reporting" Url="~/Images2014/icons2014/AdvancedReport.png" UrlHottracked="~/Images2014/icons2014/AdvancedReport_Hover.png" Width="35px">
                                        </Image>
                                    </dx:MenuItem>
                                    
				                    <dx:MenuItem Text="" Name="mnuCampaigns" NavigateUrl="~/RebateCampaign.aspx">
                                        <Image AlternateText="Campaigns" Height="30px" ToolTip="Campaigns" Url="~/Images2014/icons2014/Campaigns.png" UrlHottracked="~/Images2014/icons2014/Campaigns_Hover.png" Width="35px">
                                        </Image>
                                    </dx:MenuItem>

                                    <dx:MenuItem Text="" Name="mnuTools" NavigateUrl="~/report4.aspx">
                                        <Image AlternateText="Tools and Help" Height="30px" ToolTip="Tools and Help" Url="~/Images2014/icons2014/Tools.png" UrlHottracked="~/Images2014/icons2014/Tools_Hover.png" Width="35px">
                                        </Image>
                                    </dx:MenuItem>

                                    <%-- %><dx:MenuItem Text="" Name="mnuVisitActions" NavigateUrl="~/VisitActions.aspx">
                                        <Image AlternateText="Visit Actions" Height="30px" ToolTip="Visit Actions" Url="~/Images2014/icons2014/VisitActions.png" UrlHottracked="~/Images2014/icons2014/VisitActions_Hover.png" Width="35px">
                                        </Image>
                                    </dx:MenuItem> --%>

                                    <dx:MenuItem Text="" Name="mnuLogout" Visible="false">
                                        <Image AlternateText="Logout" Height="30px" ToolTip="Logout" Url="~/Images2014/icons2014/Exit.png" UrlHottracked="~/Images2014/icons2014/Exit_Hover.png" Width="35px">
                                        </Image>
                                    </dx:MenuItem>

                                </Items>
                                <Border BorderStyle="None" />
                            </dx:ASPxMenu>
                        </td>

                        <td align="right">
                                                
                            <dx:ASPxButton ID="btnExcel" AutoPostBack="true" ClientVisible="true" ClientInstanceName="btnExcel" BackColor="Transparent"
                                runat="server" EnableDefaultAppearance="false" ToolTip="Export To Excel"
                                Text="" Visible="True" Border-BorderStyle="None" Image-Url="~/Images2014/Excel.png"
                                Image-UrlHottracked="~/Images2014/Excel-clicked.png" Image-UrlPressed="~/Images2014/Excel-clicked.png"
                                Image-Height="30px" CssClass="special menu_icon">
                            </dx:ASPxButton>
                            
                            <dx:ASPxButton 
                                    ID="btnMastCustSeach" 
                                    runat="server" 
                                    ClientInstanceName="btnMastCustSeach" 
                                    EnableDefaultAppearance="false"
                                    ToolTip="Customer Search" 
                                    Text="" 
                                    Visible="True" 
                                    Border-BorderStyle="None"
                                    Image-Url="~/Images2014/Search.png" 
                                    Image-UrlHottracked="~/Images2014/Search_Hover.png"
                                    Image-UrlPressed="~/Images2014/Search_Hover.png" 
                                    Image-Height="30px" 
                                    CssClass="special menu_icon">
                                </dx:ASPxButton>
				
				<dx:ASPxButton ID="btnMasterBack" AutoPostBack="True"  BackColor="Transparent"
                                runat="server" EnableDefaultAppearance="false" ToolTip="Return To Previous Screen"
                                Text="" Visible="False" Border-BorderStyle="None" Image-Url="~/Images2014/Back-arrow.png"
                                Image-UrlHottracked="~/Images2014/Back-hover.png" Image-UrlPressed="~/Images2014/Back-hover.png"
                                Image-Height="30px" CssClass="special" >
                            </dx:ASPxButton>
                        </td>

                            <%--Export etc Buttons--%>
                        <td align="right" width="250px">
                            
                            <dx:ASPxComboBox ID="ddlAccessPoint" runat="server"
                                AutoPostBack="True" Width="250px" Height="30px"
                                DataSourceID="dsSwitch"
                                SelectedIndex="0"
                                TextField="SelectionName"
                                ValueField="SelectionLevel"
                                ValueType="System.String">
                            </dx:ASPxComboBox>
     
                            <%--             <dx:ASPxButton ID="btnPrinter" runat="server" ClientInstanceName="btnPrint" EnableDefaultAppearance="false"
                                ToolTip="Print" Text="" Visible="True" Border-BorderStyle="None"
                                Image-Url="~/Images2014/Print.png" Image-UrlHottracked="~/Images2014/Print_Clicked.png"
                                Image-UrlPressed="~/Images2014/Print_Clicked.png" Image-Height="30px" CssClass="special">
                                <ClientSideEvents Click="function(s, e) { printpage(); }" />
                            </dx:ASPxButton>--%>
                        </td>
                    </tr>
                </table>


            </div>

            <br />

            <dx:ASPxLabel 
                    ID="lblPageTitle" 
                    CssClass = "textheading"
                    runat="server" >
            </dx:ASPxLabel>



        </div>

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            <div id="MainDiv" style="width: 100%;">
            </div>
        </asp:ContentPlaceHolder>
        
        <dx:ASPxPopupControl 
            ID = "PopupHOMenu" 
            Width="500px" 
            runat="server" 
            ShowOnPageLoad="False" 
            ClientInstanceName="PopupHOMenu" 
            Modal="True" 
            CloseAction="CloseButton"
            AllowDragging="True" 
            ShowHeader="True" 
            HeaderText="Head Office Options"
            PopupHorizontalAlign="WindowCenter" 
            PopupVerticalAlign="WindowCenter">
            
            <ContentCollection>

			   <dx:PopupControlContentControl ID = "Popupcontrolcontentcontrol4" runat="server">

                    <ul class="head_office">

					<li>
        <dx:ASPxHyperLink ID = "LinkTradeSummary" runat="server" Text="Trade Summary Report" NavigateUrl="~/HeadOfficeSummary.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>
					
                   <li>
        <dx:ASPxHyperLink ID = "LinkCustSummaryByCentre" runat="server" Text="Customer Summary by Dealer" NavigateUrl="~/CustomerSummaryByDealer.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>
			
			<li>
        <dx:ASPxHyperLink ID = "LinkCentreDetails" runat="server" Text="Dealer Details" NavigateUrl="~/CentreDetails.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>
						
			
				<li>
        <dx:ASPxHyperLink ID = "LinkPostCode" runat="server" Text="Postcode Allocation" NavigateUrl="~/PostCodeAllocation.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>

                        <li>
        <dx:ASPxHyperLink ID = "LinkPumpIn" runat="server" Text="Postcode Pump In Analysis" NavigateUrl="~/Pumpin.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>

						<li>
        <dx:ASPxHyperLink ID = "LinkTotalSalesByMonth" runat="server" Text="Sales Drill Down By Month" NavigateUrl="~/HeadOfficeSummary2.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>
						
						<li>
        <dx:ASPxHyperLink ID = "LinkDrillDownByDealer" runat="server" Text="Sales Drill Down with Variance" NavigateUrl="~/DrillDownByDealer.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>

                        <li>
        <dx:ASPxHyperLink ID = "LinkHOBonus" runat="server" Text="Head Office Bonus Report " NavigateUrl="~/HOBonusReport.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>
 
                        
                                               <li>
        <dx:ASPxHyperLink ID = "LinkRACSales" runat="server" Text="RAC Account Sales" NavigateUrl="~/RacSales.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>
 
                        <li>
        <dx:ASPxHyperLink ID = "LinkExcludedSales" runat="server" Text="Excluded Sales Summary" NavigateUrl="~/ExcludedSalesSummary.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>

                        <li>
        <dx:ASPxHyperLink ID = "LinkRebatePart" runat="server" Text="Parts Basket Campaign By Part Number" NavigateUrl="~/RebateCampaignByPartNumber.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>

                        <li>
        <dx:ASPxHyperLink ID = "LinkBasketComparison" runat="server" Text="Parts Basket Comparison Report" NavigateUrl="~/HOBasketComparison.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>


    <%--                    <li>
        <dx:ASPxHyperLink ID = "LinkSpecials" runat="server" Text="Special Parts Report" NavigateUrl="~/HOSpecialParts.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>--%>



                        <li>
                            <dx:ASPxButton AutoPostBack="true" ID = "btnExports" runat="server" Text="Programme Exports" NavigateUrl="~/ProgrammeMenu.aspx" Font-Underline="false"  Width="100%" Height="40px" OnClick="btnExport_Click"/>
                       </li>





                    </ul>

                   <br />

                    <ul class="head_office">
                        <li>
                            <dx:ASPxButton AutoPostBack="true" ID = "btnQube" runat="server" Text="Qube Menu" NavigateUrl="~/QubeMenu.aspx" Font-Underline="false"  Width="100%" Height="40px" OnClick="btnQube_Click"/>
                       </li>
                     </ul>

                </dx:PopupControlContentControl>
  
			
			
            </ContentCollection>
            <HeaderStyle>
        <Paddings PaddingRight = "6px" />
            </HeaderStyle>
                </dx:ASPxPopupControl>

        <dx:ASPxPopupControl 
            ID = "PopupQubeMenu" 
            Width="500px" 
            runat="server" 
            ShowOnPageLoad="False" 
            ClientInstanceName="PopupQubeMenu" 
            Modal="True" 
            CloseAction="CloseButton"
            AllowDragging="True" 
            ShowHeader="True" 
            HeaderText="Qube Menu"
            PopupHorizontalAlign="WindowCenter" 
            PopupVerticalAlign="WindowCenter">
            
            <ContentCollection>

			   <dx:PopupControlContentControl ID = "Popupcontrolcontentcontrol1" runat="server">

                    <ul class="head_office">

					<li>
                        <dx:ASPxHyperLink 
                            ID = "ASPxHyperLink7" 
                            runat="server" 
                            Text="Process New Accounts" 
                            NavigateUrl="~/ProcessNewAccounts.aspx" 
                            Font-Underline="false">
                        </dx:ASPxHyperLink>
                    </li>

					<li>
                        <dx:ASPxHyperLink 
                            ID = "ASPxHyperLink1" 
                            runat="server" 
                            Text="Nationwide Summary By Dealer" 
                            NavigateUrl="~/NationwideSalesByMonthByDealer.aspx" 
                            Font-Underline="false">
                        </dx:ASPxHyperLink>
                    </li>
					
                    <li>
                        <dx:ASPxHyperLink 
                            ID = "ASPxHyperLink2" 
                            runat="server" 
                            Text="Nationwide Full Extract" 
                            NavigateUrl="~/NationwideSalesInFull.aspx" 
                            Font-Underline="false">
                        </dx:ASPxHyperLink>
                    </li>
					
                    <li>
                        <dx:ASPxHyperLink 
                            ID = "ASPxHyperLink3" 
                            runat="server" 
                            Text="Nationwide Account Search" 
                            NavigateUrl="~/NationwideAccountSearch.aspx" 
                            Font-Underline="false">
                        </dx:ASPxHyperLink>
                    </li>

                    <li>
                        <dx:ASPxHyperLink 
                            ID = "ASPxHyperLink4" 
                            runat="server" 
                            Text="Load Parts File" 
                            NavigateUrl="~/LoadPartsFile.aspx" 
                            Font-Underline="false">
                        </dx:ASPxHyperLink>
                    </li>

                    <li>
                        <dx:ASPxHyperLink 
                            ID = "ASPxHyperLink5" 
                            runat="server" 
                            Text="Latest Data Arrivals" 
                            NavigateUrl="~/LatestData.aspx" 
                            Font-Underline="false">
                        </dx:ASPxHyperLink>
                    </li>

                    <li>
                        <dx:ASPxHyperLink 
                            ID = "ASPxHyperLink6" 
                            runat="server" 
                            Text="Postal Mailing" 
                            NavigateUrl="~/FocusMailing.aspx" 
                            Font-Underline="false">
                        </dx:ASPxHyperLink>
                    </li>

                   <li>
                        <dx:ASPxHyperLink 
                            ID = "ASPxHyperLink9" 
                            runat="server" 
                            Text="Emails With Spend " 
                            NavigateUrl="~/MailingList.aspx?EmailSpend" 
                            Font-Underline="false">
                        </dx:ASPxHyperLink>
                    </li>

                   <li>
                        <dx:ASPxHyperLink 
                            ID = "ASPxHyperLink10" 
                            runat="server" 
                            Text="Emails With No Spend " 
                            NavigateUrl="~/MailingList.aspx?EmailZero" 
                            Font-Underline="false">
                        </dx:ASPxHyperLink>
                    </li>

		    <li>
                        <dx:ASPxHyperLink 
                            ID = "ASPxHyperLink8" 
                            runat="server" 
                            Text="Consent Changed By Dealer" 
                            NavigateUrl="~/ConsentChangedByDealer.aspx" 
                            Font-Underline="false">
                        </dx:ASPxHyperLink>
                    </li>
                    
                    <li>
                            <dx:ASPxHyperLink ID = "LinkUserManagement" runat="server" Text="User Management" NavigateUrl="~/admin/users/default.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                       </li>

                    <li>
                        <dx:ASPxHyperLink ID = "LinkMarketingInclusion" runat="server" Text="Dealer Marketing Inclusion Report" NavigateUrl="~/DealerMarketingInclusion.aspx" Font-Underline="false">
                            </dx:ASPxHyperLink>
                        </li>



            </ul>




                </dx:PopupControlContentControl>
  
			
			
            </ContentCollection>
            <HeaderStyle>
        <Paddings PaddingRight = "6px" />
            </HeaderStyle>
                </dx:ASPxPopupControl>
        
        <dx:ASPxPopupControl 
            ID = "PopupExports" 
            Width="500px" 
            runat="server" 
            ShowOnPageLoad="False" 
            ClientInstanceName="PopupExports" 
            Modal="True" 
            CloseAction="CloseButton"
            AllowDragging="True" 
            ShowHeader="True" 
            HeaderText="Programme Exports"
            PopupHorizontalAlign="WindowCenter" 
            PopupVerticalAlign="WindowCenter">
            
            <ContentCollection>

			   <dx:PopupControlContentControl ID = "Popupcontrolcontentcontrol2" runat="server">

                    <ul class="head_office">

            			<li>
                            <dx:ASPxHyperLink ID = "LinkFullCompanyExport" runat="server" Text="Full Company Export" NavigateUrl="~/FullCompanyExport.aspx" Font-Underline="false" />
                        </li>
					
                		<li>
                            <dx:ASPxHyperLink ID = "LinkCupSales" runat="server" Text="Nissan Cup Sales" NavigateUrl="~/NissanCupSales.aspx" Font-Underline="false"/>
                       </li>
			
                       <li>
                             <dx:ASPxHyperLink ID = "LinkPointsPromotion" runat="server" Text="Points Promotion 2018/19" NavigateUrl="~/HOPointsPromotion.aspx" Font-Underline="false"/>
                       </li>
       			
                       <li>
                             <dx:ASPxHyperLink ID = "LinkPointsPromotionParts" runat="server" Text="Points Promotion 2018/19 (Parts List)" NavigateUrl="~/HOPointsPromotionPartsList.aspx" Font-Underline="false"/>
                       </li>

            </ul>




                </dx:PopupControlContentControl>
  
			
			
            </ContentCollection>
            <HeaderStyle>
        <Paddings PaddingRight = "6px" />
            </HeaderStyle>
                </dx:ASPxPopupControl>


    </form>

    <asp:SqlDataSource ID="dsSwitch" runat="server" SelectCommand="p_Sel_Switch" SelectCommandType="StoredProcedure">
        <SelectParameters>
            <asp:SessionParameter DefaultValue="" Name="nUserId" SessionField="UserID" Type="Int32" />
        </SelectParameters>
    </asp:SqlDataSource>

    <script type="text/javascript">
        var _gauges = _gauges || [];
        (function () {
            var t = document.createElement('script');
            t.type = 'text/javascript';
            t.async = true;
            t.id = 'gauges-tracker';
            t.setAttribute('data-site-id', '5166d645108d7b22c90000cd');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
        })();
    </script>

    

</body>
</html>
