/* -- ValidationSummary -- */
.dxvsValidationSummary_MetropolisBlue
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: Red;
}
.dxvsValidationSummary_MetropolisBlue td.dxvsRC_MetropolisBlue
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_MetropolisBlue .dxvsE_MetropolisBlue
{
}
.dxvsValidationSummary_MetropolisBlue table.dxvsHT_MetropolisBlue
{
	width: 100%;
}
.dxvsValidationSummary_MetropolisBlue td.dxvsH_MetropolisBlue
{
	padding: 2px 0;
}
.dxvsValidationSummary_MetropolisBlue a.dxvsHL_MetropolisBlue,
.dxvsValidationSummary_MetropolisBlue a.dxvsHL_MetropolisBlue:visited
{
	color: red;
}
.dxvsValidationSummary_MetropolisBlue a.dxvsHL_MetropolisBlue
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_MetropolisBlue a.dxvsHL_MetropolisBlue:hover
{
	color: #f70;
}
.dxvsValidationSummary_MetropolisBlue table.dxvsT_MetropolisBlue
{
}
.dxvsValidationSummary_MetropolisBlue tr.dxvsE_MetropolisBlue
{
}
.dxvsValidationSummary_MetropolisBlue td.dxvsETC_MetropolisBlue
{
	padding: 2px 0;
}
.dxvsValidationSummary_MetropolisBlue ul.dxvsL_MetropolisBlue
{
}
.dxvsValidationSummary_MetropolisBlue ol.dxvsL_MetropolisBlue
{
}
.dxvsValidationSummary_MetropolisBlue li.dxvsE_MetropolisBlue
{
	padding: 2px 0;
}

/* TrackBar */
.dxeTrackBar_MetropolisBlue
{
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	visibility: hidden;
}

.dxeDisabled_MetropolisBlue .dxeTBHSys a,
.dxeDisabled_MetropolisBlue .dxeTBVSys a
{
    cursor: default;
}

.dxeTBBarHighlight_MetropolisBlue
{
	font-size: 0;
}

.dxeTBScale_MetropolisBlue,
.dxeTBTrack_MetropolisBlue,
.dxeTBBarHighlight_MetropolisBlue
{
	cursor: pointer;
}

.dxeTBScale_MetropolisBlue 
{
	z-index: 1;
}
.dxeTBSecondaryDH_MetropolisBlue, .dxeTBMainDH_MetropolisBlue
{
	z-index: 4;
}

.dxeTrackBar_MetropolisBlue.dxeTBHSys
{
	width: 170px;
	height: 41px;
}
.dxeTrackBar_MetropolisBlue.dxeTBVSys
{
	height: 170px;
	width: 41px;
}
.dxeTrackBar_MetropolisBlue.dxeTBBScaleSys.dxeTBVSys
{
	width: 59px;
}
.dxeTrackBar_MetropolisBlue.dxeTBBScaleSys.dxeTBHSys
{	
	height: 59px;
}

.dxeTBTrack_MetropolisBlue 
{
	z-index: 2;
	position: absolute;
}

.dxeTBHSys .dxeTBTrack_MetropolisBlue
{
	background: url('edtTrackBarTrackH.gif');
}
.dxeTBVSys .dxeTBTrack_MetropolisBlue
{
	background:  url('edtTrackBarTrackV.gif');
}

.dxeTBHSys .dxeTBTrack_MetropolisBlue
{
	height: 10px;
}
.dxeTBHSys .dxeTBBarHighlight_MetropolisBlue
{
    top: 3px;
	height: 4px;
}
.dxeTBVSys .dxeTBTrack_MetropolisBlue
{
	width: 10px;
}
.dxeTBVSys .dxeTBBarHighlight_MetropolisBlue
{
    left: 3px;
	width: 4px;
}

.dxeTBHSys .dxeTBMainDH_MetropolisBlue, .dxeTBHSys .dxeTBSecondaryDH_MetropolisBlue
{	
	top: -1px;
	width:7px;
	height:12px;
}
.dxeTBVSys .dxeTBMainDH_MetropolisBlue, .dxeTBVSys .dxeTBSecondaryDH_MetropolisBlue
{
	left: -1px;
	width: 12px;
	height: 7px;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack_MetropolisBlue, .dxeTBVSys .dxeTBTrack_MetropolisBlue
{
	left: 6px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack_MetropolisBlue
{
	right: 6px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack_MetropolisBlue
{
	bottom: 6px;
	top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack_MetropolisBlue, .dxeTBHSys .dxeTBTrack_MetropolisBlue
{
	top: 6px;
}

.dxeTBBarHighlight_MetropolisBlue
{
	left: 0px;
	top: 0px;
	position:absolute;
	z-index: 3;
}

.dxeTBHSys .dxeTBBarHighlight_MetropolisBlue
{
	background: #0072C6;
}
.dxeTBVSys .dxeTBBarHighlight_MetropolisBlue
{
	background: #0072C6;
}

.dxeTBRBLabel_MetropolisBlue, .dxeTBLTLabel_MetropolisBlue
{
	text-align: center;
	color: #999999;
	cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel_MetropolisBlue, .dxeTBSmallTickSys .dxeTBLTLabel_MetropolisBlue,
.dxeTBLargeTickSys .dxeTBRBLabel_MetropolisBlue, .dxeTBLargeTickSys .dxeTBLTLabel_MetropolisBlue 
{	
	position: absolute;
}

.dxeTBHSys .dxeTBRBLabel_MetropolisBlue,.dxeTBHSys .dxeTBLTLabel_MetropolisBlue
{
	width: 100%;
}

.dxeTBIncBtn_MetropolisBlue, .dxeTBDecBtn_MetropolisBlue
{
}

.dxeTBVSys .dxeTBRBLabel_MetropolisBlue, 
.dxeTBVSys .dxeTBLTLabel_MetropolisBlue
{
	padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_MetropolisBlue
{
	margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel_MetropolisBlue, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel_MetropolisBlue
{
	right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel_MetropolisBlue, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel_MetropolisBlue
{
	left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel_MetropolisBlue, 
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel_MetropolisBlue
{
	bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel_MetropolisBlue, 
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_MetropolisBlue
{
	top: 0px;
}
.dxeTBItem_MetropolisBlue
{
	color: #8c8c8c;
}

.dxeTBHSys .dxeTBItem_MetropolisBlue .dxeTBRBLabel_MetropolisBlue, 
.dxeTBHSys .dxeTBItem_MetropolisBlue .dxeTBLTLabel_MetropolisBlue 
{
	display: inline-block;
	margin-left: 0px!important;
}
.dxeTBHSys .dxeTBRBScaleSys 
.dxeTBItem_MetropolisBlue .dxeTBRBLabel_MetropolisBlue 
{
	padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys 
.dxeTBItem_MetropolisBlue .dxeTBLTLabel_MetropolisBlue 
{
	margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_MetropolisBlue .dxeTBRBLabel_MetropolisBlue 
{
	margin-left: 5px;
}

.dxeTBSelectedItem_MetropolisBlue .dxeTBRBLabel_MetropolisBlue,
.dxeTBSelectedItem_MetropolisBlue .dxeTBLTLabel_MetropolisBlue,
.dxeTBSelectedTick_MetropolisBlue .dxeTBRBLabel_MetropolisBlue, 
.dxeTBSelectedTick_MetropolisBlue .dxeTBLTLabel_MetropolisBlue
{
	color: #0072C6;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem_MetropolisBlue
{
	text-align: left;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_MetropolisBlue
{
	text-align: right;
}

.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_MetropolisBlue
{
	text-align: center;
}

.dxeTBHSys .dxeTBItem_MetropolisBlue
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem_MetropolisBlue
{
	background-image:  url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem_MetropolisBlue 
{
	background-image:  url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_MetropolisBlue
{
	background-image:  url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBHSys .dxeTBLargeTick_MetropolisBlue
{
	background-image: url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick_MetropolisBlue
{
	background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick_MetropolisBlue
{
	background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick_MetropolisBlue
{
	background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick_MetropolisBlue
{
	background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick_MetropolisBlue
{
	background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick_MetropolisBlue
{
	background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick_MetropolisBlue
{
	background-image: url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBVSys .dxeTBIncBtn_MetropolisBlue, .dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn_MetropolisBlue
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBDecBtn_MetropolisBlue, .dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn_MetropolisBlue
{
	top: 0px;
	bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn_MetropolisBlue, .dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn_MetropolisBlue
{
	left: 0px;
	right: auto;
}
.dxeTBHSys .dxeTBIncBtn_MetropolisBlue, .dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn_MetropolisBlue
{
	right: 0px;
	left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn_MetropolisBlue, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn_MetropolisBlue
{
	margin-left: -10px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn_MetropolisBlue,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn_MetropolisBlue
{
	margin-top: -10px;
	top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack_MetropolisBlue
{ 
	margin-left: -4px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack_MetropolisBlue
{ 
	margin-top: -5px;
	top: 50%;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn_MetropolisBlue, 
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn_MetropolisBlue
{
	right: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn_MetropolisBlue, 
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn_MetropolisBlue
{
	bottom: 0px;
}

.dxeHelpText_MetropolisBlue,
.dxeTBValueToolTip_MetropolisBlue
{
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
div.dxeHelpText_MetropolisBlue,
.dxeTBValueToolTip_MetropolisBlue
{
	padding: 3px 8px 4px 8px;
    display: inline;
    position:absolute;
    background: white;
    z-index: 41998;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #c0c0c0;
}
td.dxeHelpText_MetropolisBlue {
    visibility: visible;
    color: #9F9F9F;
}
td.dxeHelpText_MetropolisBlue label {
    font-size: 0.91em;
}
td.dxeHelpText_MetropolisBlue.dxeHHelpTextSys {
    padding: 0 6px;
}
td.dxeHelpText_MetropolisBlue.dxeVHelpTextSys {
    padding: 2px 0;
}

/* Loading */
.dxlpLoadingPanel_MetropolisBlue,
.dxlpLoadingPanelWithContent_MetropolisBlue
{
	border: 1px solid #C3C3C3;
	background-color: white;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxlpLoadingPanel_MetropolisBlue td.dx,
.dxlpLoadingPanelWithContent_MetropolisBlue td.dx
{
	font-size: 1.17em;
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxcaLoadingPanel_MetropolisBlue .dxlp-loadingImage,
.dxlpLoadingPanel_MetropolisBlue .dxlp-loadingImage,
.dxlpLoadingPanelWithContent_MetropolisBlue .dxlp-loadingImage {
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

.dxeButtonEditSys .dxic .dxeLoadingDiv_MetropolisBlue
{
	opacity: 1!important;
	filter: alpha(opacity=100)!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MetropolisBlue
{
    background-color: transparent!important;
    font-size: 0!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MetropolisBlue td.dx
{
	padding: 0px!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MetropolisBlue td.dx > span
{
	display: none;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MetropolisBlue td.dx > img
{
	height: 15px;
    width: auto;
    vertical-align: middle;
}

.dxeReadOnly_MetropolisBlue
{
}
.dxeBase_MetropolisBlue
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
/* InternalCheckBox */
.dxeIRBFocused_MetropolisBlue
{
    outline: 1px dotted #0072C6;
}
.dxIE.dxBrowserVersion-7 .dxeIRBFocused_MetropolisBlue
{
	border: 1px dotted #0072C6;
	margin: 0;
}

.dxeIRadioButton_MetropolisBlue
{
}
.dxeBase_MetropolisBlue .dxichCellSys,
.dxeBase_MetropolisBlue.dxichCellSys
{
    padding: 2px 3px 1px;
}
.dxeBase_MetropolisBlue .dxichTextCellSys
{
    padding: 1px 0 1px;
}
/* -- ErrorFrame -- */
.dxeErrorCell_MetropolisBlue
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: Red;
    border-color: black;
	padding-left: 4px;
	padding-right: 4px;
}
.dxeErrorFrameWithoutError_MetropolisBlue
{
	border: 1px solid Red;
}
.dxeErrorFrameWithoutError_MetropolisBlue .dxeControlsCell_MetropolisBlue,
.dxeErrorFrameWithoutError_MetropolisBlue.dxeControlsCell_MetropolisBlue
{
	padding: 2px;
}

.dxeEditArea_MetropolisBlue
{
	border: 1px solid #A0A0A0;
}
.dxeEditArea_MetropolisBlue,
body input.dxeEditArea_MetropolisBlue /*Bootstrap correction*/
{
	color: #333333;
}
input[type="text"].dxeEditArea_MetropolisBlue, /*Bootstrap correction*/
input[type="password"].dxeEditArea_MetropolisBlue /*Bootstrap correction*/
{
    margin-top: 0;
    margin-bottom: 0;
}
.dxFirefox input[type="text"].dxeEditArea_MetropolisBlue,
.dxFirefox input[type="password"].dxeEditArea_MetropolisBlue
{
    margin-top: 0;
    margin-bottom: -1px;
}
noindex:-o-prefocus, 
input[type="text"].dxeEditArea_MetropolisBlue,
input[type="password"].dxeEditArea_MetropolisBlue
{
    margin-top: 1px;
    margin-bottom: 0;
}

/* -- Buttons -- */
.dxeButtonEditButton_MetropolisBlue,
.dxeCalendarButton_MetropolisBlue,
.dxeSpinIncButton_MetropolisBlue,
.dxeSpinDecButton_MetropolisBlue,
.dxeSpinLargeIncButton_MetropolisBlue,
.dxeSpinLargeDecButton_MetropolisBlue,
.dxeColorEditButton_MetropolisBlue
{
	background-color: white;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
} 
.dxeButtonEditButton_MetropolisBlue
{
	padding: 0px 2px 0px 3px;
}
.dxeSpinIncButton_MetropolisBlue
{
	padding: 2px 2px 2px 3px;
}
.dxeSpinDecButton_MetropolisBlue
{
	padding: 3px 2px 2px 3px;
}
.dxeSpinLargeIncButton_MetropolisBlue
{
	padding: 0px 5px 0px 6px;
}
.dxeSpinLargeDecButton_MetropolisBlue
{
	padding: 0px 6px 0px 5px;
}
.dxeCalendarButton_MetropolisBlue,
.dxeColorEditButton_MetropolisBlue
{
	border: 1px solid #c0c0c0;
	padding: 3px 11px 4px;
	min-width: 37px;
	text-align: center;
	white-space: nowrap;
}
.dxeCalendarButton_MetropolisBlue.dxeButtonDisabled_MetropolisBlue,
.dxeColorEditButton_MetropolisBlue.dxeButtonDisabled_MetropolisBlue
{
	color: #bdbdbd;
}


.dxeButtonEditButton_MetropolisBlue.dxeButtonEditClearButton_MetropolisBlue,
.dxeButtonEditButton_MetropolisBlue.dxeButtonEditClearButton_MetropolisBlue:hover
{
    background: none;
    border-width: 0;
    padding-top: 2px;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_MetropolisBlue,
.dxeButtonEditButtonPressed_MetropolisBlue,
.dxeSpinIncButtonPressed_MetropolisBlue,
.dxeSpinDecButtonPressed_MetropolisBlue,
.dxeSpinLargeIncButtonPressed_MetropolisBlue, 
.dxeSpinLargeDecButtonPressed_MetropolisBlue,
.dxeColorEditButton_MetropolisBlue:active
{
	background-color: #c0c0c0;
	color: white;
}
/* -- Hover -- */
.dxeCalendarButtonHover_MetropolisBlue,
.dxeButtonEditButtonHover_MetropolisBlue,
.dxeSpinIncButtonHover_MetropolisBlue,
.dxeSpinDecButtonHover_MetropolisBlue,
.dxeSpinLargeIncButtonHover_MetropolisBlue,
.dxeSpinLargeDecButtonHover_MetropolisBlue,
.dxeColorEditButton_MetropolisBlue:hover
{
	background-color: #0072C6;
	color: white;
}
.dxeCalendarButtonHover_MetropolisBlue,
.dxeColorEditButton_MetropolisBlue:hover
{
	border-color: #0072C6;
}

.dxeButtonEdit_MetropolisBlue
{
	background-color: white;
	border: 1px solid #c0c0c0;
	width: 170px;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    
    border-collapse: separate;
    border-spacing: 0;
}
.dxeButtonEdit_MetropolisBlue .dxeEditArea_MetropolisBlue
{
	background-color: white;
}
.dxeButtonEdit_MetropolisBlue .dxeEditArea_MetropolisBlue,
.dxeButtonEdit_MetropolisBlue td.dxic
{
	width: 100%;
}
.dxeButtonEdit_MetropolisBlue .dxeIIC img
{
	padding-left: 3px;
}
.dxeTextBox_MetropolisBlue
{
	background-color: white;
	border: 1px solid #c0c0c0;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeTextBox_MetropolisBlue .dxeEditArea_MetropolisBlue
{
	background-color: white;
}
.dxeRadioButtonList_MetropolisBlue, .dxeCheckBoxList_MetropolisBlue
{
	border: 1px Solid #c0c0c0;
}

.dxeCheckBoxList_MetropolisBlue .dxe > table,
.dxeRadioButtonList_MetropolisBlue .dxe > table 
{
    width: 100%;
}

.dxeRadioButtonList_MetropolisBlue,
.dxeCheckBoxList_MetropolisBlue
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeRadioButtonList_MetropolisBlue td.dxe,
.dxeCheckBoxList_MetropolisBlue td.dxe
{
	padding: 7px 5px 6px 11px;
}
.dxeRadioButtonList_MetropolisBlue[dir='rtl'] td.dxe,
.dxeCheckBoxList_MetropolisBlue[dir='rtl'] td.dxe
{
	padding: 7px 11px 6px 5px;
}

/* -- Memo -- */
.dxeMemo_MetropolisBlue
{
	background-color: white;
	border: 1px solid #c0c0c0;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeMemoEditArea_MetropolisBlue
{
	background-color: white;
	outline: none;
}

/* -- Hyperlink -- */
.dxeHyperlink_MetropolisBlue
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #0072C6;
}

/* -- ListBox -- */
.dxeListBox_MetropolisBlue
{
	background-color: white;
	width: 70px;
	height: 109px;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
	border: 1px solid #c0c0c0;
}
.dxeListBox_MetropolisBlue div.dxlbd
{
	padding-top: 1px;
	padding-bottom: 1px;
	height: 107px;
}
.dxeListBoxItemRow_MetropolisBlue
{
	cursor: default;
}
.dxeListBoxItem_MetropolisBlue
{
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 3px 2px 4px 3px;
	white-space: nowrap;
	text-align: left;
}
.dxeListBoxItem_MetropolisBlue em
{
	background: #CFCFCF none repeat 0 0;
	color: #333333;
	font-weight: bold;
	font-style: normal;
}
.dxeListBoxItemRow_MetropolisBlue:last-child > .dxeListBoxItem_MetropolisBlue
{
	border-bottom-width: 0;
}

.dxeListBox_MetropolisBlue td.dxeI,
.dxeListBox_MetropolisBlue td.dxeIM,
.dxeListBox_MetropolisBlue .dxeHIC, 
.dxeListBox_MetropolisBlue td.dxeFTM,
.dxeListBox_MetropolisBlue td.dxeTM,
.dxeListBox_MetropolisBlue td.dxeC,
.dxeListBox_MetropolisBlue td.dxeCM,
.dxeListBox_MetropolisBlue td.dxeHCC,
.dxeListBox_MetropolisBlue td.dxeMI,
.dxeListBox_MetropolisBlue td.dxeMIM
{
	border-right-width: 0!important;
}

.dxeListBox_MetropolisBlue td.dxeIR,
.dxeListBox_MetropolisBlue td.dxeIMR,
.dxeListBox_MetropolisBlue .dxeHICR, 
.dxeListBox_MetropolisBlue td.dxeFTMR,
.dxeListBox_MetropolisBlue td.dxeTMR,
.dxeListBox_MetropolisBlue td.dxeCR,
.dxeListBox_MetropolisBlue td.dxeCMR,
.dxeListBox_MetropolisBlue td.dxeHCCR,
.dxeListBox_MetropolisBlue td.dxeMIR,
.dxeListBox_MetropolisBlue td.dxeMIMR
{
	border-left-width: 0!important;
}

.dxeListBox_MetropolisBlue td.dxeCM,
.dxeListBox_MetropolisBlue td.dxeHCC,
.dxeListBox_MetropolisBlue td.dxeCMR,
.dxeListBox_MetropolisBlue td.dxeHCCR
{
	width: 29px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dxIE.dxBrowserVersion-7 .dxeListBox_MetropolisBlue td.dxeCM,
.dxIE.dxBrowserVersion-7 .dxeListBox_MetropolisBlue td.dxeHCC,
.dxIE.dxBrowserVersion-7 .dxeListBox_MetropolisBlue td.dxeCMR,
.dxIE.dxBrowserVersion-7 .dxeListBox_MetropolisBlue td.dxeHCCR
{
	width: 23px;
}

.dxeListBox_MetropolisBlue td.dxeIM,
.dxeListBox_MetropolisBlue td.dxeIMR
{
	width: 0;
}
.dxeListBox_MetropolisBlue td.dxeC > span,
.dxeListBox_MetropolisBlue td.dxeCM > span
{
    margin: 2px 2px 2px 3px;
}
.dxeListBox_MetropolisBlue td.dxeCR > span,
.dxeListBox_MetropolisBlue td.dxeCMR > span
{
    margin: 2px 3px 2px 2px;
}
.dxeListBox_MetropolisBlue td.dxeC
{
	padding-right: 3px!important;
}
.dxeListBox_MetropolisBlue td.dxeCR
{
	padding-left: 3px!important;
}

.dxeListBox_MetropolisBlue td.dxeT
{
	width: 100%;
	padding-left: 0!important;
}

.dxeListBox_MetropolisBlue td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}

.dxeListBox_MetropolisBlue td.dxeT,
.dxeListBox_MetropolisBlue td.dxeMI
{
	border-left-width: 0!important;
}

.dxeListBox_MetropolisBlue td.dxeTR,
.dxeListBox_MetropolisBlue td.dxeMIR
{
	border-right-width: 0!important;
}

.dxeListBox_MetropolisBlue td.dxeFTM,
.dxeListBox_MetropolisBlue td.dxeTM,
.dxeListBox_MetropolisBlue td.dxeLTM, 
.dxeListBox_MetropolisBlue .dxeHFC,
.dxeListBox_MetropolisBlue .dxeHC,
.dxeListBox_MetropolisBlue .dxeHLC,
.dxeListBox_MetropolisBlue td.dxeFTMR,
.dxeListBox_MetropolisBlue td.dxeTMR,
.dxeListBox_MetropolisBlue td.dxeLTMR, 
.dxeListBox_MetropolisBlue .dxeHFCR,
.dxeListBox_MetropolisBlue .dxeHCR,
.dxeListBox_MetropolisBlue .dxeHLCR
{
	overflow: hidden;
}

.dxeListBox_MetropolisBlue td.dxeFTM,
.dxeListBox_MetropolisBlue td.dxeTM, 
.dxeListBox_MetropolisBlue .dxeHFC,
.dxeListBox_MetropolisBlue .dxeHC
{
	padding-right: 6px!important;
}

.dxeListBox_MetropolisBlue td.dxeFTMR,
.dxeListBox_MetropolisBlue td.dxeTMR, 
.dxeListBox_MetropolisBlue .dxeHFCR,
.dxeListBox_MetropolisBlue .dxeHCR
{
	padding-left: 6px!important;
}

.dxeListBox_MetropolisBlue td.dxeLTM,
.dxeListBox_MetropolisBlue td.dxeTM, 
.dxeListBox_MetropolisBlue .dxeHC,
.dxeListBox_MetropolisBlue .dxeHLC
{
	padding-left: 6px!important;
}

.dxeListBox_MetropolisBlue td.dxeLTMR,
.dxeListBox_MetropolisBlue td.dxeTMR, 
.dxeListBox_MetropolisBlue .dxeHCR,
.dxeListBox_MetropolisBlue .dxeHLCR
{
	padding-right: 6px!important;
}

/*Grid lines*/

.dxeListBox_MetropolisBlue td.dxeLTM,
.dxeListBox_MetropolisBlue td.dxeTM,
.dxeListBox_MetropolisBlue td.dxeMIM
{
	border-left: 1px solid #cfcfcf!important;
}

.dxeListBox_MetropolisBlue td.dxeLTMR,
.dxeListBox_MetropolisBlue td.dxeTMR,
.dxeListBox_MetropolisBlue td.dxeMIMR
{
	border-right: 1px solid #cfcfcf!important;
}

.dxeListBox_MetropolisBlue td.dxeIM,
.dxeListBox_MetropolisBlue td.dxeFTM,
.dxeListBox_MetropolisBlue td.dxeTM,
.dxeListBox_MetropolisBlue td.dxeLTM,
.dxeListBox_MetropolisBlue td.dxeCM,
.dxeListBox_MetropolisBlue td.dxeMIM,
.dxeListBox_MetropolisBlue td.dxeIMR,
.dxeListBox_MetropolisBlue td.dxeFTMR,
.dxeListBox_MetropolisBlue td.dxeTMR,
.dxeListBox_MetropolisBlue td.dxeLTMR,
.dxeListBox_MetropolisBlue td.dxeCMR,
.dxeListBox_MetropolisBlue td.dxeMIMR
{
	border-bottom: 1px solid #cfcfcf;
}

.dxeListBoxItemSelected_MetropolisBlue     
{
	color: White;
	background-color: #0072C6;
}
.dxeDisabled_MetropolisBlue.dxeListBox_MetropolisBlue .dxeListBoxItemSelected_MetropolisBlue 
{
	background-color: #f0f0f0;
}
.dxeListBoxItemHover_MetropolisBlue        
{
	background-color: #e0e0e0;
	color: #333333;
}
.dxeListBoxItemHover_MetropolisBlue em,
.dxeListBoxItemSelected_MetropolisBlue em
{
	background-image: none;
}

/*Header*/

.dxeListBox_MetropolisBlue .dxeHD
{
	border-bottom: 1px solid #c0c0c0;
}

.dxeListBox_MetropolisBlue .dxeHC,
.dxeListBox_MetropolisBlue .dxeHLC,
.dxeListBox_MetropolisBlue td.dxeHMIC
{
	border-left: 1px solid #c0c0c0;
}

.dxeListBox_MetropolisBlue .dxeHCR,
.dxeListBox_MetropolisBlue .dxeHLCR,
.dxeListBox_MetropolisBlue td.dxeHMICR
{
	border-right: 1px solid #A0A0A0;
	text-align: right;
}

.dxeListBox_MetropolisBlue .dxeHCC
{
	border-left: 1px solid #c0c0c0;
}

.dxeListBox_MetropolisBlue .dxeHICR,
.dxeListBox_MetropolisBlue .dxeHFCR,
.dxeListBox_MetropolisBlue .dxeHCCR
{
	border-right: 1px solid #dcdcdc;
	text-align: right;
}

.dxeListBox_MetropolisBlue .dxeHFC,
.dxeListBox_MetropolisBlue .dxeHC,
.dxeListBox_MetropolisBlue .dxeHMIC
{
	border-right-width: 0;
}

.dxeListBox_MetropolisBlue .dxeHFCR,
.dxeListBox_MetropolisBlue .dxeHCR,
.dxeListBox_MetropolisBlue .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}

.dxeListBox_MetropolisBlue .dxeHLC
{
	border-right: 1px solid #dcdcdc;
}

.dxeListBox_MetropolisBlue .dxeHLCR
{
	border-left: 1px solid #dcdcdc;
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar_MetropolisBlue
{
	background-color: White;
	color: #333333;
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	font-weight: normal;
	cursor: default;
}
.dxeCalendar_MetropolisBlue.dxeFocused_MetropolisBlue
{
	border: none;
}
.dxeCalendar_MetropolisBlue td.dxMonthGrid_MetropolisBlue
{
	padding: 8px 20px;
}
.dxeCalendar_MetropolisBlue td.dxMonthGridWithWeekNumbers,
.dxeCalendar_MetropolisBlue td.dxMonthGridWithWeekNumbersRtl
{
	min-width: 244px;
	padding: 30px 40px 10px;
}
.dxeCalendarDayHeader_MetropolisBlue
{
	padding: 2px 4px 5px;
	font-size: 1.08em;
	text-transform:uppercase;
}
.dxeCalendarWeekNumber_MetropolisBlue
{
	font-size: 0.75em;
	text-align: right;
	padding: 6px 8px 6px 4px;
	color: #bfbfbf;
}
.dxeCalendarDay_MetropolisBlue
{
	padding: 4px 6px;
	text-align: center;
}
.dxeCalendarWeekend_MetropolisBlue        
{
	color: #FF3300;
}
.dxeCalendarOtherMonth_MetropolisBlue     
{
	opacity: 0.15;
}
.dxeCalendarOutOfRange_MetropolisBlue     
{
	color: #d0d0d0;
}
.dxeCalendarDayDisabled_MetropolisBlue {
	opacity: 1.0;
	background-color: #fcfcfc;
	color: #ececec!important;
}
.dxeCalendarToday_MetropolisBlue         
{
	padding: 3px 3px 2px;
	border: 1px solid #0072C6;
}
.dxeCalendarToday_MetropolisBlue.dxeDisabled_MetropolisBlue         
{
	border: 1px solid #0072C6;
}
.dxeCalendarSelected_MetropolisBlue       
{
	color: White;
	background-color: #0072C6;
}
.dxeDayInRange.dxeCalendarSelected_MetropolisBlue
{
    background-color: #b2c8ee;
}
.dxeCalendarSelected_MetropolisBlue.dxeCalendarOtherMonth_MetropolisBlue
{
    opacity: 1.0;
}
.dxeCalendarSelected_MetropolisBlue.dxeDisabled_MetropolisBlue       
{
	background-color: #ffd5a6;
}
.dxeCalendarHeader_MetropolisBlue
{
	color: #0072C6;
	padding: 4px 7px;
	font-size: 1.5em;
	padding: 4px 17px;
}
.dxeCalendarHeader_MetropolisBlue td.dxe
{
	text-align: center;
	cursor: pointer;
}
.dxeCalendarHeader_MetropolisBlue .dxeCHS
{
    min-width: 10px;
}
.dxIE.dxBrowserVersion-7 .dxeCalendarHeader_MetropolisBlue .dxeCHS
{
	width: 10px;
}

.dxeCalendarHeader_MetropolisBlue span
{
	padding: 0 16px;
	white-space: nowrap!important;
}
.dxeCalendarFooter_MetropolisBlue
{
	padding: 8px 0px;
	border-bottom: 2px solid #c0c0c0;
}
.dxeCalendarFooter_MetropolisBlue .dxeCFS
{
    min-width: 12px;
    *width: 12px;
}
.dxeCalendar_MetropolisBlue.dxeFocused_MetropolisBlue .dxeCalendarFooter_MetropolisBlue
{
	border-color: #0072C6;
}
.dxeCalendarFastNav_MetropolisBlue
{
	color: Black;
	background: White none;
	border-top: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	padding: 12px 8px;
}
.dxeCalendarFastNavMonthArea_MetropolisBlue
{
	padding: 0px 9px;
}
.dxeCalendarFastNavYearArea_MetropolisBlue
{
    padding-top: 8px;
}
.dxeCalendarFastNavFooter_MetropolisBlue
{
	color: Black;
	padding: 8px 0px;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	background-color: white;
}
.dxeCalendarFastNavFooter_MetropolisBlue .dxeCFNFS
{
    min-width: 11px;
    *width: 11px;
}
.dxeCalendarFastNavMonth_MetropolisBlue,
.dxeCalendarFastNavYear_MetropolisBlue
{
	color: #333333;
	padding: 3px 5px;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavMonth_MetropolisBlue
{
	padding: 6px;
}
.dxeCalendarFastNavMonthSelected_MetropolisBlue,
.dxeCalendarFastNavYearSelected_MetropolisBlue
{
	color: White;
	background-color: #0072C6;
}
.dxeCalendarFastNavMonthHover_MetropolisBlue,
.dxeCalendarFastNavYearHover_MetropolisBlue
{
	color: Black;
	background: #e5e5e5 none;
	padding: 2px 4px;
	border: 1px solid #d6d6d6;
}
.dxeCalendarFastNavMonthHover_MetropolisBlue
{
	padding: 5px;
}
.dxeDateEditTimeEditCell_MetropolisBlue
{
    padding: 13px 41px 15px;
    width: 90px;
}
.dxeDateEditClockCell_MetropolisBlue
{
    padding: 37px 31px 0;
}
.dxeCalendarFooter_MetropolisBlue.dxeDETSF
{
    padding-left: 8px;
    padding-right: 8px;
}
.dxeCalendarHeader_MetropolisBlue.dxeDETSH
{
    display: none;
}
/* Disabled */
.dxeDisabled_MetropolisBlue,
.dxeDisabled_MetropolisBlue td.dxe
{
	color: #c0c0c0;
	cursor: default;
}
.dxeEditArea_MetropolisBlue.dxeDisabled_MetropolisBlue /*Bootstrap correction*/
{
    color: #c0c0c0;
}
a.dxeDisabled_MetropolisBlue:hover
{
	color: #acacac;
}
.dxeButtonDisabled_MetropolisBlue
{
	border-color: #e9e9e9;
	color: #808080;
	cursor: default;
}
/* -- Button -- */
.dxbButton_MetropolisBlue
{
	color: #333333;
	border: 1px solid #c0c0c0;
	background-color: white;
	padding: 1px;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxbButton_MetropolisBlue.dxbDisabled_MetropolisBlue
{
	border-color: #e9e9e9;
	color: #b8b8b8;
	cursor: default;
}
.dxbButtonHover_MetropolisBlue
{
	color: white;
	background-color: #0072C6;
	border: 1px solid #0072C6;
}
.dxbButtonChecked_MetropolisBlue
{
	color: #333333;
	background-color: #C0C0C0;
}
.dxbButtonPressed_MetropolisBlue
{
	color: white;
	background-color: #C0C0C0;
}
.dxbButton_MetropolisBlue div.dxb
{
	padding: 2px 7px 3px;
	border: 1px dotted transparent;
}
.dxbButton_MetropolisBlue div.dxbf
{
	border: 1px dotted #333333;
}
/* Button Link */
a.dxbButton_MetropolisBlue
{
    color: #0072C6;
    text-decoration: underline;
}
/* Disabled */
.dxbDisabled_MetropolisBlue,
a.dxbButton_MetropolisBlue.dxbDisabled_MetropolisBlue
{
	color: #C3C3C3;
	cursor: default;
    text-decoration: none;
}

/* -- FilterControl -- */
.dxfcControl_MetropolisBlue
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: Black;
	padding: 0 1em;
}
.dxfcTable_MetropolisBlue
{
	border-collapse: separate!important;
}
.dxfcTable_MetropolisBlue td.dxfc
{
	padding: 0px 0px 0px 3px;
}
.dxfcTable_MetropolisBlue td.dxfc > table
{
	margin: 1px 0 -1px;
}
a.dxfcPropertyName_MetropolisBlue
{
	white-space: nowrap!important;
	color: #1086d4!important;
}
a.dxfcGroupType_MetropolisBlue
{
	white-space: nowrap!important;
	padding: 0px 3px!important;
	color: #db3412!important;
}
a.dxfcOperation_MetropolisBlue
{
	white-space: nowrap!important;
	color: #6fb111!important;
}
a.dxfcValue_MetropolisBlue
{
	white-space: nowrap!important;
	color: Gray!important;
}

.dxeMaskHint_MetropolisBlue
{
	background: #ffffe1 none;
	border: 1px solid black;
	padding: 2px 5px 3px;
	color: Black;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}

.dxfcControl_MetropolisBlue ul.dxfc-tree,
.dxfcControl_MetropolisBlue .dxfc-tree ul
{
    list-style-type: none;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

.dxfcControl_MetropolisBlue .dxfc-tree
{
    width: 100%;
}

.dxfcControl_MetropolisBlue .dxfc-subnd
{
    margin-left: 22px;
}

.dxfcControl_MetropolisBlue .dxfc > li > table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.dxfcControl_MetropolisBlue .dxfc-elb
{
    float: left;
    height: 21px;
    vertical-align: top;
    width: 26px;
}

.dxfcControl_MetropolisBlue .dxfc-clr
{
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    width: 0;
}

.dxfcControl_MetropolisBlue .dxfc-nd
{
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    outline: 0 none;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.dxfcControl_MetropolisBlue .dxfc-nd > tbody > tr > td > a,
.dxfcControl_MetropolisBlue .dxfc-nd > tbody > tr > td > span,
.dxfcControl_MetropolisBlue .dxfc-nd > tbody > tr > td > img,
.dxfcControl_MetropolisBlue .dxfc-editor
{
    vertical-align: middle;
}

.dxfcControl_MetropolisBlue .dxfc-nd > tbody > tr > td > a,
.dxfcControl_MetropolisBlue .dxfc-nd > tbody > tr > td > td,
.dxfcControl_MetropolisBlue .dxfc-nd > tbody > tr > td > span
{
    padding: 0 0.1ex;
}

.dxfcControl_MetropolisBlue .dxfc-nd > tbody > tr > td > a
{
    line-height: 24px;
}

.dxfcControl_MetropolisBlue .dxfc-ln
{
    vertical-align: top;
}
/* -- ProgressBar -- */
.dxeProgressBar_MetropolisBlue
{
	background-color: #e0e0e0;
	color: #333333;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    height: 23px;
}
.dxeProgressBar_MetropolisBlue .dxePBMainCell,
.dxeProgressBar_MetropolisBlue td.dxe
{
	padding: 0;
}
.dxeProgressBarIndicator_MetropolisBlue
{
	background-color: #0072C6;
}

/* -- DropDownWindow -- */
.dxpcDropDown_MetropolisBlue,
.dxeDropDownWindow_MetropolisBlue
{
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeDropDownWindow_MetropolisBlue
{
	background-color: white;
	border: 1px solid #c0c0c0;
}
.dxpcDropDown_MetropolisBlue .dxpc-shadow
{
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_MetropolisBlue
{
	width: 13px;
	height: 13px;
	cursor: pointer;
	margin-left: 3px;
}
.dxeItemPicker_MetropolisBlue
{
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}
.dxeColorTable_MetropolisBlue td.dx,
.dxeItemPicker_MetropolisBlue td.dx
{
	padding: 4px;
}
.dxeColorTableCell_MetropolisBlue,
.dxeItemPickerCell_MetropolisBlue
{
	padding: 3px;
	cursor: pointer;
}
.dxeColorTableCellDiv_MetropolisBlue
{
	border: 1px solid #c0c0c0;
	width: 12px;
	height: 12px;
	font-size: 0;
}
.dxeColorTableCellSelected_MetropolisBlue
{
	padding: 0px!important;
	background-color: #CBCBCB;
	border: 3px solid #0072C6;
}
.dxeColorTableCellSelected_MetropolisBlue .dxeColorTableCellDiv_MetropolisBlue
{
	border: 1px solid white;
}
.dxeColorTableCellHover_MetropolisBlue,
.dxeItemPickerCellHover_MetropolisBlue
{
	padding: 0px!important;
	background-color: #F2F2F2;
	border: 3px solid #E0E0E0;
}

/* -- Invalid Style -- */
.dxeInvalid_MetropolisBlue
{
}
.dxeInvalid_MetropolisBlue .dxeEditArea_MetropolisBlue,
.dxeInvalid_MetropolisBlue .dxeMemoEditArea_MetropolisBlue
{
}

/* -- Focused Style -- */
.dxeFocused_MetropolisBlue
{
	border: 1px solid #0072C6;
}
.dxeFocused_MetropolisBlue.dxeTrackBar_MetropolisBlue
{
	border: 0px;
}

/* -- Null Text Style -- */
.dxeNullText_MetropolisBlue .dxeEditArea_MetropolisBlue,
.dxeNullText_MetropolisBlue .dxeMemoEditArea_MetropolisBlue
{
	color: #818181;
}

/* -- Captcha -- */
.dxcaControl_MetropolisBlue 
{
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}

.dxcaRefreshButton_MetropolisBlue
{
	text-decoration: none;
	color: #1e3695;
}

.dxcaDisabledRefreshButton_MetropolisBlue
{
	color: #acacac;
}

.dxcaRefreshButtonCell_MetropolisBlue
{
	padding-left: 4px;
	border-bottom: 2px solid #e0e0e0;
}

.dxcaRefreshButtonText_MetropolisBlue
{
}

.dxcaDisabledRefreshButtonText_MetropolisBlue
{
}

.dxcaTextBoxCell_MetropolisBlue,
.dxcaTextBoxCellNoIndent_MetropolisBlue
{
}

.dxcaTextBoxCell_MetropolisBlue .dxeErrorCell_MetropolisBlue
{
}

.dxcaTextBoxCellNoIndent_MetropolisBlue .dxeErrorCell_MetropolisBlue
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_MetropolisBlue
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_MetropolisBlue
{
	background-color: white;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}

.dxcaLoadingPanel_MetropolisBlue td.dx
{
    font-size: 1.17em;
	white-space: nowrap;
	text-align: center;
	padding: 2px;
}
.dxcaLoadingPanel_MetropolisBlue .dxlp-loadingImage 
{
	margin: 0px;
}
.dxpcLite_MetropolisBlue .dxHFBPS
{
    width: 6px;
}

.dxeTextBox_MetropolisBlue,
.dxeButtonEdit_MetropolisBlue,
.dxeIRadioButton_MetropolisBlue,
.dxeRadioButtonList_MetropolisBlue,
.dxeCheckBoxList_MetropolisBlue
{
    cursor: default;
}

.dxFirefox .dxeTextBox_MetropolisBlue td.dxic, 
.dxFirefox .dxeButtonEdit_MetropolisBlue td.dxic,
.dxFirefox .dxeButtonEdit_MetropolisBlue[cellspacing="0"] td.dxic,
.dxeTextBox_MetropolisBlue td.dxic, 
.dxeButtonEdit_MetropolisBlue td.dxic,
.dxeButtonEdit_MetropolisBlue[cellspacing="0"] td.dxic
{
    padding: 1px 3px 2px 3px;
}

.dxeButtonEdit_MetropolisBlue td.dxic 
{
    *padding-left: 2px;
}
*[dir="rtl"].dxeTextBox_MetropolisBlue td.dxic
{
    *padding-right: 2px;
}

/* Removes flicking in iOS Safari*/
.dxeTrackBar_MetropolisBlue, 
.dxeIRadioButton_MetropolisBlue, 
.dxeButtonEdit_MetropolisBlue, 
.dxeTextBox_MetropolisBlue, 
.dxeRadioButtonList_MetropolisBlue, 
.dxeCheckBoxList_MetropolisBlue, 
.dxeMemo_MetropolisBlue, 
.dxeListBox_MetropolisBlue, 
.dxeCalendar_MetropolisBlue, 
.dxeColorTable_MetropolisBlue
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Layout Control */
.dxeLayoutConrtol_MetropolisBlue 
{
    display: table;
}
.dxeLyGroupCell_MetropolisBlue 
{
    padding: 5px;
}
.dxeLyItem_MetropolisBlue 
{
}
.dxeLyCaptionCell_MetropolisBlue
{
    padding:6px;
}
.dxeLyEditorCell_MetropolisBlue 
{   
    padding:5px;
}

.dxeLyCaptionCell_MetropolisBlue 
{
    color: #004184;
    font-weight: bold;
    white-space: nowrap;
}
.dxeLyEditorCell_MetropolisBlue 
{
    width: 0;
}
.dxeLyGroupBox_MetropolisBlue 
{
    border: 1px Solid #9F9F9F;
    border-radius: 4px;
    padding: 10px;
}
.dxeLyGroupBoxCaption_MetropolisBlue > span 
{
    background-color: White;
    padding-left: 5px;
    padding-right: 5px;   
}
.dxeLyGroupBoxCaption_MetropolisBlue 
{
    position:relative;
    margin-top: -21px;
}
.dxeLyGroup_MetropolisBlue 
{
    width: 100%;
}

.dxeLayoutConrtol_MetropolisBlue .dxeLyVATSys > label 
{
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
}

.dxeLyEditorCell_MetropolisBlue > .dxeMemoSys 
{
    margin-top: 3px;
}

.dxeLyEditorCell_MetropolisBlue > label.dxeBase_MetropolisBlue 
{
    display: block;
    white-space: nowrap;
}

.dxeLyEditorCell_MetropolisBlue > .dxeTextBoxSys,
.dxeLyEditorCell_MetropolisBlue > .dxeButtonEdit_MetropolisBlue
{
}

/* ASPxCololrEdit */
.dxcpParametersCell_MetropolisBlue input
{
    padding: 2px 0px 1px 5px;
}
.dxcpParametersCellSys .dxcpWebColorInput_MetropolisBlue
{
	float: right;
	margin-top: 40px;
	*margin-top: 35px;
}
.dxcpColorParameterMainDiv_MetropolisBlue
{
	padding: 0px 0 4px 9px;
	width: 90px;
	text-align: right;
}
.dxeCustomColorButton_MetropolisBlue
{
    padding-top: 2px;
    padding-bottom: 2px;
	margin: 3px 7px;
	cursor: pointer;
}
.dxcpCurrentColor_MetropolisBlue,
.dxcpSavedColor_MetropolisBlue
{
	height: 35px;
}
.dxcpCurrentAndSaved_MetropolisBlue
{
	width: 65px;
	margin: 34px 0px 0px auto;
	cursor: pointer;
}
.dxeColorTablesMainDiv_MetropolisBlue,
.dxeColorSelectorMainDiv_MetropolisBlue
{
	background-color: #FFFFFF;
}
.dxeColorSelectorMainDiv_MetropolisBlue
{
	padding: 7px;
}
.dxcpColorArea_MetropolisBlue,
.dxcpHueAreaImage_MetropolisBlue,
.dxcpCurrentAndSaved_MetropolisBlue,
.dxeColorTablesMainDiv_MetropolisBlue,
.dxeColorSelectorMainDiv_MetropolisBlue,
.dxcpParametersCell_MetropolisBlue input 
{
	border: 1px solid #c0c0c0;
}
.dxeButtonsPanelDiv_MetropolisBlue
{
	margin-top: 15px;
	text-align: right;
}
.dxeButtonsPanelDiv_MetropolisBlue input
{
	min-width: 60px;
	margin-left: 10px;
}

/* -- ASPxTokenBox -- */
input.dxeTokenBoxInput_MetropolisBlue[type="text"] {
	display: inline-block;
	float: left;
	width: 30px;
	outline: none;
	margin-bottom: 1px;
	padding-bottom: 1px;
}
.dxeToken_MetropolisBlue {
    display: inline-block;
	color: #ffffff;
	float: left;
	min-width: 30px;
	margin-right: 1px;
	margin-bottom: 1px;
	padding-bottom: 1px;
}
.dxeTokenText_MetropolisBlue, .dxeTokenRemoveButton_MetropolisBlue {
	display: block;
	float: left;
}
.dxeTokenText_MetropolisBlue {
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0px 2px 0px 4px;
}
.dxeTokenRemoveButton_MetropolisBlue {
	cursor: pointer;
	margin-top: 2px;
	margin-bottom: -2px;
}
.dxeToken_MetropolisBlue {
	background: #0072C6 url('edtTokenBoxTokenBackground.png') repeat-x top;
}
.dxFirefox .dxeButtonEdit_MetropolisBlue td.dxictb,
.dxeButtonEdit_MetropolisBlue td.dxictb {
    padding: 1px;
}
.dxIE.dxBrowserVersion-7 input.dxeTokenBoxInput_MetropolisBlue[type="text"] {
	padding: 1px 0px 2px 0px;
}
.dxIE.dxBrowserVersion-7 .dxeTokenText_MetropolisBlue {
	padding: 3px 0px 1px 0px;
}
.dxIE.dxBrowserVersion-7 .dxeTokenRemoveButton_MetropolisBlue {
	margin-top: 4px;
	margin-bottom: 0px;
}
.dxIE.dxBrowserVersion-7 .dxeButtonEdit_MetropolisBlue td.dxictb {
    padding: 0px;
}
.dxFirefox input.dxeTokenBoxInput_MetropolisBlue[type="text"] {
	padding-bottom: 0;
	margin-bottom: 1px;
}
.dxFirefox .dxeToken_MetropolisBlue {
	padding-bottom: 0px;
}

/* Editor caption */
.dxeCaptionCell_MetropolisBlue
 {
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333;
    white-space: nowrap;
    line-height: 16px;
    height: 100%;
}
.dxeRoot_MetropolisBlue
{
}
.dxeCaption_MetropolisBlue
{
}
.dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 2px;
}
.dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 2px;
}
.dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 10px;
}
.dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 10px;
}
.dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 5px;
}
.dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeTrackBarCTypeSys
{
    padding-top: 2px;
}
.dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 4px;
}
.dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeCustomCTypeSys
{
    padding-top: 5px;
    padding-bottom: 5px;
}

/* IE 7 */
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 3px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 2px;
}

/* Chrome */
.dxWebKitFamily.dxeTextEditCTypeSys.dxeCaptionVATSys.dxeCaptionCell_MetropolisBlue
{
    padding-top: 3px;
}
.dxWebKitFamily .dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 3px;
}
.dxWebKitFamily .dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 4px;
}
.dxWebKitFamily .dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 11px;
}
.dxWebKitFamily .dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 11px;
}

/* Opera */
noindex:-o-prefocus, body:first-of-type .dxeTextEditCTypeSys.dxeCaptionVATSys.dxeCaptionCell_MetropolisBlue
{
    padding-top: 3px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 3px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 4px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 11px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_MetropolisBlue.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 11px;
}

/* Firefox */
.dxFirefox .dxeMemoCTypeSys.dxeCaptionVATSys.dxeCaptionCell_MetropolisBlue
{
    padding-top: 3px;
}

.dxeRequiredMark_MetropolisBlue {
    color: green;
    font-style: normal;
}

.dxeOptionalMark_MetropolisBlue {
    color: gray;
    font-style: normal;
}

/* Out of range warning*/
.dxeOutOfRWarn_MetropolisBlue {
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    padding: 3px 8px 4px 8px;
    display: none;
    position: absolute;
    background-color: white;
    color: red;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #A8A8A8;
}
.dxeOutOfRWarnRight_MetropolisBlue {
    margin-left: 10px;
    margin-top: -2px;
}
.dxeOutOfRWarnBottom_MetropolisBlue {
    margin-top: 10px;
}
