/*** Table of contents

	1 - Default Elements
	2 - Form Elements
	3 - Layout Elements
	4 - Media Queries

***/

/* 1 - Default Elements */
body{
	font-family: Tahoma, Geneva, sans-serif;
	position: relative;
    background: #e7e7e7;
}


h1{
	top: 500px;
	position:absolute;
	left: 68%;
}
h1 a{
	display: block;
	width: 315px;
	height: 153px;
	/*background: url('../../images/toyota/logo-white.png' ) no-repeat;*/
}

h2.title{
	font-size: 44px;
	font-weight: bold;
	top: 70px;
    left:70%;
	position:absolute;
    color:#fff;
    text-transform:uppercase;
}

h5{
	font-size: 22px;
	top: 650px;
	position:absolute;
    color:#fff;
    font-style:italic;
    left: 73%;
}
h2{
	font-size: 22px;
	font-weight: bold;
}

p{
	font-size: 12px;
	line-height: 14px;
	color:#121212;
}

p.subTitle{
	font-size: 17px;
	color:#fff;
	top: 120px;
    left:75%;
	position:absolute;
}

a{
	font-weight: bold;
	color:#000000;
}
/* 2 - Form Elements */

input[type="text"],
input[type="password"]{
	color:#86858B;
	text-transform:lowercase;
	font-weight: bold;
	border: none;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	padding: 0 8px 0 8px;
	font-family: Tahoma, Geneva, sans-serif;
}

textarea{
	font-family: Tahoma, Geneva, sans-serif;
}

button.positive{
	background: #000000;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 20px;
	border: 0px;
	line-height: 32px;
	text-transform: lowercase;
	padding: 0px;
}

button.positive:hover{
	background:#333333;
}

/* 3 - Layout Elements */

span.brandstrap {
	width:134px;
	height: 200px;
	background: url('../../images/toyota/AABW.png');
	text-indent: -9999px;
	position: absolute;
	right: 28px;
}

.container{
	width: 1100px;
	margin: auto;
	position: relative;
}

section.login{
	width: 1011px;
	bottom: 80px;
	position: fixed;
}

section.login form{
	float: right;
	margin: 0 28px 0 0;
}
section.login a{
	color:#CF142B;
	font-size: 18px;
	font-weight: bold;
}

section.login form .row{
	margin: 0 0 12px 0;
	overflow:hidden;
}

label.username,
label.password,
label email{
	text-indent: -9999px;
	display: inline-block;
	margin: 0 8px 0 0;
	width: 36px;
	height: 32px;
	float: left;
}
label.username{
	background: url('../../images/sprite-ui-elements.png') #880015 no-repeat 0 -40px;
}
label.password{
	background: url('../../images/sprite-ui-elements.png') #880015 no-repeat 1px -84px;
}
label.email{
	background: url('../../images/sprite-ui-elements.png') #880015  no-repeat 1px -169px;
}

/*Error Handling*/
.row .error{
	width: 200px;
	float: left;
	visibility: hidden;
	padding: 0 0 0 8px;
}
.row.error .error{
	visibility:visible;
	color:#FF0000;
	line-height: 32px;
}

.row.error input{
	border-right: 4px solid #FF0000;
	color:#FF0000;
}
section.login label.remember-me{
	color:#FFFFFF;
	line-height: 32px;
	font-size: 18px;
	margin: 0 0 0 8px;
}

section.login form .row button{
	width: 158px;
	margin: 0 8px 0 50px;
	float: left;
}

section.login form .row a.remember-me{
	width: 93px;
	line-height: 32px;
	height: 32px;
	display:block;
	float:left;
	-webkit-box-shadow: inset 3px 3px 4px rgba(37, 27, 28, 0.25);
	-moz-box-shadow:    inset 3px 3px 4px rgba(37, 27, 28, 0.25);
	position: relative;
	background: url('../../images/sprite-ui-elements.png') #CF142B -116px -3px no-repeat;
}
section.login form .row a.remember-me.on{
	background: url('../../images/sprite-ui-elements.png') #CF142B -54px -37px no-repeat;
}
section.login form .row a.remember-me .off{
	background:url('../../images/sprite-ui-elements.png') -114px -69px;
	width: 32px;
	height: 36px;
	position: absolute;
	left: 60px;
}
section.login form .row a.remember-me .on{
	background: url('../../images/sprite-ui-elements.png') -115px -69px no-repeat;
	width: 32px;
	height: 36px;
	position: absolute;
	left: 1px;
}

section.login form .row a.forgotton-password{
	margin: 0 0 0 50px;
}

footer{
	position: fixed;
	bottom: 0px;
	height: 36px;
	background: #000000;
	width: 100%;
}

footer,
footer a{
	color:#FFFFFF;
	font-size: 11px;
}
footer ul li{
	width: 50%;
	display: inline-block;
	line-height: 36px;
	padding: 0;
	float:left;
	-webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
}
footer ul li a{
	border-right: 1px solid #FFFFFF;
	padding: 0 4px 0 0;
	margin: 0 4px 0 0;
}
footer ul li a.feedback{
	width: 300px;
	float: right;
	border-top: 4px solid #FFFFFF;
	margin: -4px 0 0 0;
	font-size: 20px;
	text-decoration: none;
	padding: 0 0 0 8px;
	border-right: none;
	background: #CF142B;
}

footer ul li a.feedback:after{
	content: '';
	width: 40px;
	height: 36px;
	display: block;
	float:right;
	background: url('../../images/sprite-ui-elements.png') #990000;
}

footer ul li.active a.feedback:after{
	background: url('../../images/sprite-ui-elements.png') #990000 -38px 0;
}

footer ul li.active{
	margin: -164px 0 0 0;
	-webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
}

.feedback-form{
	float: right;
	width: 308px;
	background: #CF142B;
	}

.feedback-form p{
	padding: 11px 8px 11px 8px;
	font-size: 11px;
	color:#FFFFFF;
}

.feedback-form textarea{
	min-height: 80px;
	max-height: 80px;
	min-width: 292px;
	max-width: 292px;
	padding: 8px 8px 8px 8px;
	border: none;
	margin: 0;
	-webkit-box-shadow: inset 0px 4px 4px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 0px 4px 4px rgba(50, 50, 50, 0.75);
}

.feedback-form button{
	width: 150px;
	float: right;
}

.scroll-content{
	height: 300px;
	overflow: auto;
}

.overlay-container{
	position: fixed;
	width: 100%;
	top: 0px;
	background: #000000;
	background: rgba(0,0,0, 0.75);
	display: none;
}

.overlay-container .container{
	background: rgb(255,255,255);
	background: rgba(255,255,255, 0.2);
	padding: 10px 10px 10px 10px;
	margin: 0 auto 0 auto;
	position: relative;
	width: 60%;
}

.overlay-container .container .inner{
	background: #FFFFFF;
	padding: 20px 20px 20px 20px;
}

.overlay-container .container .inner h2{
	color: #CF142B;
	padding: 0 0 6px 0;
	border-bottom: 4px solid #86858B;
	margin: 0 0 12px 0;
	position: relative;
	font-weight: bold;
}

.overlay-container .container .inner h2:after{
	content: '';
	background:#CF142B;
	width: 80px;
	height: 4px;
	display: block;
	position: absolute;
	right: 0;
	bottom: -4px;	
}

.overlay-container .container .inner h3{
	margin:0 0 8px 0; 
}

.overlay-container .container .inner p{
	width: 80%;
	font-size: 12px;
	margin: 0 0 12px 0;
}

.overlay-container .container .inner input[type="text"]{
	color:#FFFFFF;
	background: #807D7C;
}

.overlay-container .container .inner button{
	display: block;
	width: 306px;
	margin: 8px 0 0 0;
}

.close-modal{
	position: absolute;
	width: 32px;
	height: 32px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	display: block;
	right: -10px;
	top: -10px;
	text-indent: -9999px;
	background: url('../../images/sprite-ui-elements.png') #CF142B -3px -125px no-repeat;
}

/**************************
           Header
***************************/

.header {
    background-color: #363b3f;
    margin-bottom: 20px;
    padding: 10px 15px;
    margin-left: -15px;
    margin-right: -15px;
}

/**************************
           Login
***************************/
.form-group span.red {
    color: red;
}

form span.errors {
    color: red;
    margin-top: 10px;
}

form .form-group .input-group .input-group-addon {
    background-color: #363b3f;
    color: #cf142b;
    border: none;
    border-radius: 0;
    padding: 0 13px;
}

form .form-group .input-group .input-group-addon > i.fa {
    width: 11px;
}

form .form-group input, form.login .form-group button {
    background-color: #fff;
    border-radius: 0;
    border: none;
    outline: none;
    box-shadow: none;
    color: #363b3f;
}

form .form-group .login_button,
form .form-group .send_button {
    background-color: #363b3f;
    color: #fff;
    border-radius: 0;
}

form .form-group button.alt {
    background-color: grey;
    color: #fff;
}

.modal.modal--grey .panel_box__content {
    background-color: #e7e7e7;
}

.alt_buttons > .row > div:first-child > button {
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .alt_buttons > .row > div:first-child > button {
        margin-bottom: 0;
    }
}

/**************************
       Panel Boxes
***************************/

.panel_box {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: calc(3vh - 8px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
}

.panel_box:before, .panel_box:after {
    display: table;
    content: " ";
}

.panel_box:after {
    clear: both;
}

.panel_box > .panel_box__header {
    padding: 0.4vh 0.5vw;
    background: #363b3f;
    color: #fff;
    position: relative;
}

.panel_box > .panel_box__header > h3 {
    font-size: 2vh;
    margin: 0;
    font-weight: bold;
    display: inline;
}

.panel_box > .panel_box__header > h3 > span {
    font-size: 11px;
}

.panel_box > .panel_box__header > .panel_box__header__add {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 12px;
    margin-top: -0.4vh;
    font-size: 1.5vh;
}

.panel_box > .panel_box__header > .panel_box__header__add > span {
    background: #fff;
    color: #000;
    padding: 1px 14px;
    margin-left: 6px;
    font-weight: 700;
    line-height: 1.7em;
}

.panel_box > .panel_box__header > .panel_box__header__add > span.blue {
    color: #307bbb;
}

.panel_box > .panel_box__header > .panel_box__header__add > span.red {
    color: #dd2222;
}

.panel_box > .panel_box__header > .panel_box__header__add > span.orange {
    color: #ff8f0e;
}

.panel_box > .panel_box__header > .panel_box__header__add > span.green {
    color: #4db53c;
}

.glyphicon.green {
    color: #4db53c;
}

.panel_box > .panel_box__content {
    padding: 12px;
    background: #fff;
}

.panel_box .panel_box__content__report {
    display: none;
    overflow: hidden;
}

.panel_box .panel_box__content__report.open {
    animation: pop_in;
}

@keyframes pop_in {
    0% {
        height: 0;
        width: 0;
    }
    50% {
        display: block;
        height: auto;
    }
    100% {
        width: auto;
    }
}

.modal-content .panel_box {
    margin-bottom: 0;
}

.modal-content .panel_box__content {
    position: relative;
    min-height: 100px;
    max-height: calc(100vh - 200px);
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.panel_box > .panel_box__header > .panel_box__header__add > button {
    color: #fff;
    opacity: 1;
    outline: 0;
}

/**************************
     Cookie Headings
***************************/

h3:not(:first-child) {
    margin-top: 20px;
}

/* 4 - Media Queries */
 
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 1280px)  {
	
	footer ul li{
		width: 48%;
		padding: 0 1% 0 1%;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 720px) and (max-width: 1023px) {
	.container,
	section.login{
		width: 100%;
	}
	
	footer ul li{
		width: 48%;
		padding: 0 1% 0 1%;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 719px)  {
	h1{
		left:0;
	}
	input[type="text"],
	input[type="password"]{
		width: 200px;
	}
	
	.container{
		width: 100%;
	}
	section.login{
		width: 100%;
		padding: 360px 0 0 0;
		position: relative;
	}
	section.login form{
		width: 300px;
		margin: auto;
		float: none;
	}
	
	section.login form .row button{
		float: none;
		width: 270px;
		margin: 0 0 8px 0;
	}
	section.login form .row a.forgotton-password{
		margin: 0;
	}
	footer ul li{
		width: 48%;
		padding: 0 1% 0 1%;
	}
	.overlay-container .container {
		width: 90%;
	}
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	body{ background: fixed no-repeat #FFFFFF;}
	h1{
		position: relative;
		margin: 10px auto 0 auto;
		top: 10px;
		left: 10px;
	}
	h1 a{
		width: 200px;
		height: 44px;
		background: url('../../images/toyota/logo-toyota-mob.png') no-repeat;
	}
	
	header .brandstrap {
		display: none;	
	}
	section.login{
		width: 100%;
		padding: 100px 0 0 0;
	}
	section.login form {
		width: 271px;
	}
	
	input[type="text"],
	input[type="password"]{
		border: 1px solid #807D7C;
		border-right: 4px solid #807D7C;
	}
	
	footer ul li{
		width: 100%;
		text-align:center;
	}
	footer ul li a.feedback{
		display: none;
	}
	
	.overlay-container .container {
		width: 78%;
	}
	
	.overlay-container .container .inner{
		padding: 10px 10px 10px 10px;	
	}
	
	.overlay-container .container .inner button{
		width:216px;
	}
	.overlay-container .container .inner input[type="text"] {
		width: 144px;
	}
	.overlay-container .container .inner p{
		width: auto;
	}
}