.dxEditors_edtError_DevEx,
.dxEditors_edtCalendarPrevYear_DevEx,
.dxEditors_edtCalendarPrevYearDisabled_DevEx,
.dxEditors_edtCalendarPrevMonth_DevEx,
.dxEditors_edtCalendarPrevMonthDisabled_DevEx,
.dxEditors_edtCalendarNextMonth_DevEx,
.dxEditors_edtCalendarNextMonthDisabled_DevEx,
.dxEditors_edtCalendarNextYear_DevEx,
.dxEditors_edtCalendarNextYearDisabled_DevEx,
.dxEditors_edtCalendarFNPrevYear_DevEx,
.dxEditors_edtCalendarFNNextYear_DevEx,
.dxEditors_edtEllipsis_DevEx,
.dxEditors_edtEllipsisDisabled_DevEx,
.dxEditors_edtDropDown_DevEx,
.dxEditors_edtDropDownDisabled_DevEx,
.dxEditors_edtDETSClockFace_DevEx,
.dxEditors_edtDETSHourHand_DevEx,
.dxEditors_edtDETSMinuteHand_DevEx,
.dxEditors_edtDETSSecondHand_DevEx,
.dxEditors_edtSpinEditIncrementImage_DevEx,
.dxEditors_edtSpinEditIncrementImageDisabled_DevEx,
.dxEditors_edtSpinEditDecrementImage_DevEx,
.dxEditors_edtSpinEditDecrementImageDisabled_DevEx,
.dxEditors_edtSpinEditLargeIncImage_DevEx,
.dxEditors_edtSpinEditLargeIncImageDisabled_DevEx,
.dxEditors_edtSpinEditLargeDecImage_DevEx,
.dxEditors_edtSpinEditLargeDecImageDisabled_DevEx,
.dxEditors_fcadd_DevEx,
.dxEditors_fcaddhot_DevEx,
.dxEditors_fcremove_DevEx,
.dxEditors_fcremovehot_DevEx,
.dxEditors_fcgroupaddcondition_DevEx,
.dxEditors_fcgroupaddgroup_DevEx,
.dxEditors_fcgroupremove_DevEx,
.dxEditors_fcopany_DevEx,
.dxEditors_fcopbegin_DevEx,
.dxEditors_fcopbetween_DevEx,
.dxEditors_fcopcontain_DevEx,
.dxEditors_fcopnotcontain_DevEx,
.dxEditors_fcopnotequal_DevEx,
.dxEditors_fcopend_DevEx,
.dxEditors_fcopequal_DevEx,
.dxEditors_fcopgreater_DevEx,
.dxEditors_fcopgreaterorequal_DevEx,
.dxEditors_fcopnotblank_DevEx,
.dxEditors_fcopblank_DevEx,
.dxEditors_fcopless_DevEx,
.dxEditors_fcoplessorequal_DevEx,
.dxEditors_fcoplike_DevEx,
.dxEditors_fcopnotany_DevEx,
.dxEditors_fcopnotbetween_DevEx,
.dxEditors_fcopnotlike_DevEx,
.dxEditors_fcgroupand_DevEx,
.dxEditors_fcgroupor_DevEx,
.dxEditors_fcgroupnotand_DevEx,
.dxEditors_fcgroupnotor_DevEx,
.dxEditors_caRefresh_DevEx,
.dxEditors_edtRadioButtonChecked_DevEx,
.dxEditors_edtRadioButtonUnchecked_DevEx,
.dxEditors_edtRadioButtonCheckedDisabled_DevEx,
.dxEditors_edtRadioButtonUncheckedDisabled_DevEx,
.dxEditors_edtRadioButtonGrayedDisabled_DevEx,
.dxEditors_edtTBDecBtn_DevEx,
.dxEditors_edtTBIncBtn_DevEx,
.dxEditors_edtTBMainDH_DevEx,
.dxEditors_edtTBSecondaryDH_DevEx,
.dxEditors_edtTBIncBtnDisabled_DevEx,
.dxEditors_edtTBDecBtnDisabled_DevEx,
.dxEditors_edtTBMainDHDisabled_DevEx,
.dxEditors_edtTBSecondaryDHDisabled_DevEx {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

/* TrackBar */
.dxEditors_edtTBDecBtn_DevEx, .dxEditors_edtTBIncBtn_DevEx,
.dxEditors_edtTBDecBtnHover_DevEx, .dxEditors_edtTBIncBtnHover_DevEx,
.dxEditors_edtTBDecBtnPressed_DevEx, .dxEditors_edtTBIncBtnPressed_DevEx,
.dxEditors_edtTBDecBtnDisabled_DevEx, .dxEditors_edtTBIncBtnDisabled_DevEx
{
	width: 14px;
	height: 14px;
}

.dxeTBHSys .dxEditors_edtTBMainDH_DevEx, .dxeTBHSys .dxEditors_edtTBSecondaryDH_DevEx,
.dxeTBHSys .dxEditors_edtTBMainDHHover_DevEx, .dxeTBHSys .dxEditors_edtTBSecondaryDHHover_DevEx,
.dxeTBHSys .dxEditors_edtTBMainDHPressed_DevEx, .dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_DevEx,
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_DevEx, .dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_DevEx
{
	width: 13px;
	height: 19px;
}
.dxeTBVSys .dxEditors_edtTBMainDH_DevEx, .dxeTBVSys .dxEditors_edtTBSecondaryDH_DevEx,
.dxeTBVSys .dxEditors_edtTBMainDHHover_DevEx, .dxeTBVSys .dxEditors_edtTBSecondaryDHHover_DevEx,
.dxeTBVSys .dxEditors_edtTBMainDHPressed_DevEx, .dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_DevEx,
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_DevEx, .dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_DevEx
{
	width: 19px;
	height: 13px;
}

.dxEditors_edtTBDecBtn_DevEx
{
	background-position: 0px -160px;
}
.dxEditors_edtTBDecBtnHover_DevEx
{
	background-position: -36px -160px;
}
.dxEditors_edtTBDecBtnPressed_DevEx
{
	background-position: -72px -160px;
}
.dxEditors_edtTBDecBtnDisabled_DevEx
{
	background-position: 0px -180px;
}

.dxEditors_edtTBIncBtn_DevEx
{
	background-position: -18px -160px;
}
.dxEditors_edtTBIncBtnHover_DevEx
{
	background-position: -54px -160px;
}
.dxEditors_edtTBIncBtnPressed_DevEx
{ 
	background-position: -90px -160px;
}
.dxEditors_edtTBIncBtnDisabled_DevEx
{ 
	background-position: -18px -180px;
}

.dxeTBHSys .dxEditors_edtTBMainDH_DevEx,
.dxeTBHSys .dxEditors_edtTBSecondaryDH_DevEx
{
	background-position: -29px -135px;
}
.dxeTBHSys .dxEditors_edtTBMainDHHover_DevEx,
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_DevEx
{
	background-position: -43px -135px;
}

.dxeTBHSys .dxEditors_edtTBMainDHPressed_DevEx,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_DevEx
{
	background-position: -57px -135px;
	z-index: 7;
}

.dxeTBHSys .dxEditors_edtTBMainDHDisabled_DevEx,
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_DevEx
{
	background-position: -71px -135px;
}

.dxeFocused_DevEx .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_DevEx,
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_DevEx
{
	background-position: -85px -135px;
}
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_DevEx,
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_DevEx
{
	background-position: -99px -135px;
}
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_DevEx,
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_DevEx
{
	background-position: -113px -135px;
}

.dxeTBVSys .dxEditors_edtTBMainDH_DevEx,
.dxeTBVSys .dxEditors_edtTBSecondaryDH_DevEx
{
	background-position: -128px -135px;
}

.dxeTBVSys .dxEditors_edtTBMainDHHover_DevEx,
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_DevEx
{
	background-position: -128px -149px;
}

.dxeTBVSys .dxEditors_edtTBMainDHPressed_DevEx,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_DevEx
{
	background-position: -149px -135px;
	z-index: 7;
}

.dxeTBVSys .dxEditors_edtTBMainDHDisabled_DevEx,
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_DevEx
{
	background-position: -149px -149px;
}

.dxeFocused_DevEx .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_DevEx,
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_DevEx
{
	background-position: -170px -135px;
}
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_DevEx,
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_DevEx
{
	background-position: -170px -149px;
}
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_DevEx,
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_DevEx
{
	background-position: -170px -163px;
}

/* RadioButton */

.dxEditors_edtRadioButtonChecked_DevEx,
.dxEditors_edtRadioButtonUnchecked_DevEx,
.dxEditors_edtRadioButtonCheckedDisabled_DevEx,
.dxEditors_edtRadioButtonUncheckedDisabled_DevEx,
.dxEditors_edtRadioButtonGrayedDisabled_DevEx {
    width: 15px;
    height: 15px;
}

.dxEditors_edtError_DevEx,
.dxEditors_edtCalendarPrevYear_DevEx,
.dxEditors_edtCalendarPrevYearDisabled_DevEx,
.dxEditors_edtCalendarPrevMonth_DevEx,
.dxEditors_edtCalendarPrevMonthDisabled_DevEx,
.dxEditors_edtCalendarNextMonth_DevEx,
.dxEditors_edtCalendarNextMonthDisabled_DevEx,
.dxEditors_edtCalendarNextYear_DevEx,
.dxEditors_edtCalendarNextYearDisabled_DevEx,
.dxEditors_edtCalendarFNPrevYear_DevEx,
.dxEditors_edtCalendarFNNextYear_DevEx,
.dxEditors_edtEllipsis_DevEx,
.dxEditors_edtEllipsisDisabled_DevEx,
.dxEditors_edtDropDown_DevEx,
.dxEditors_edtDropDownDisabled_DevEx,
.dxEditors_edtSpinEditIncrementImage_DevEx,
.dxEditors_edtSpinEditIncrementImageDisabled_DevEx,
.dxEditors_edtSpinEditDecrementImage_DevEx,
.dxEditors_edtSpinEditDecrementImageDisabled_DevEx,
.dxEditors_edtSpinEditLargeIncImage_DevEx,
.dxEditors_edtSpinEditLargeIncImageDisabled_DevEx,
.dxEditors_edtSpinEditLargeDecImage_DevEx,
.dxEditors_edtSpinEditLargeDecImageDisabled_DevEx
{
	display:block;
    margin:auto;
}

.dxEditors_edtRadioButtonUnchecked_DevEx {
	background-position: 0px -46px; 
}
.dxEditors_edtRadioButtonChecked_DevEx {
	background-position: -15px -46px; 
}
.dxEditors_edtRadioButtonUncheckedDisabled_DevEx {
	background-position: -30px -46px; 
}
.dxEditors_edtRadioButtonCheckedDisabled_DevEx {
	background-position: -45px -46px; 
}

.dxEditors_edtSpinEditLargeIncImage_DevEx, .dxEditors_edtSpinEditLargeIncImageDisabled_DevEx,
.dxEditors_edtSpinEditLargeDecImage_DevEx, .dxEditors_edtSpinEditLargeDecImageDisabled_DevEx,
.dxEditors_edtSpinEditIncrementImage_DevEx, .dxEditors_edtSpinEditIncrementImageDisabled_DevEx,
.dxEditors_edtSpinEditDecrementImage_DevEx, .dxEditors_edtSpinEditDecrementImageDisabled_DevEx
{
	margin:auto;
}

.dxEditors_edtError_DevEx {
    background-position: -126px -34px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtCalendarPrevYear_DevEx {
    background-position: -84px 0px;
    width: 19px;
    height: 18px;
}

.dxEditors_edtCalendarPrevYearDisabled_DevEx {
    background-position: -84px -20px;
    width: 19px;
    height: 18px;
}

.dxEditors_edtCalendarPrevMonth_DevEx {
    background-position: -63px 0px;
    width: 19px;
    height: 18px;
}

.dxEditors_edtCalendarPrevMonthDisabled_DevEx {
    background-position: -63px -20px;
    width: 19px;
    height: 18px;
}

.dxEditors_edtCalendarNextMonth_DevEx {
    background-position: -21px 0px;
    width: 19px;
    height: 18px;
}

.dxEditors_edtCalendarNextMonthDisabled_DevEx {
    background-position: -21px -20px;
    width: 19px;
    height: 18px;
}

.dxEditors_edtCalendarNextYear_DevEx {
    background-position: -42px 0px;
    width: 19px;
    height: 18px;
}

.dxEditors_edtCalendarNextYearDisabled_DevEx {
    background-position: -42px -20px;
    width: 19px;
    height: 18px;
}

.dxEditors_edtCalendarFNPrevYear_DevEx {
    background-position: 0px 0px;
    width: 19px;
    height: 18px;
}

.dxEditors_edtCalendarFNNextYear_DevEx {
    background-position: 0px -20px;
    width: 19px;
    height: 18px;
}

.dxEditors_edtEllipsis_DevEx {
    background-position: -117px 0px;
    width: 11px;
    height: 13px;
}

.dxEditors_edtEllipsisDisabled_DevEx {
    background-position: -117px -16px;
    width: 11px;
    height: 13px;
}

.dxEditors_edtDropDown_DevEx {
    background-position: -105px 0px;
    width: 10px;
    height: 13px;
}

.dxEditors_edtDropDownDisabled_DevEx {
    background-position: -105px -16px;
    width: 10px;
    height: 13px;
}

.dxEditors_edtSpinEditIncrementImage_DevEx {
    background-position: -139px 0px;
    width: 7px;
    height: 5px;
}

.dxEditors_edtSpinEditIncrementImageDisabled_DevEx {
    background-position: -139px -8px;
    width: 7px;
    height: 5px;
}

.dxEditors_edtSpinEditDecrementImage_DevEx {
    background-position: -130px 0px;
    width: 7px;
    height: 5px;
}

.dxEditors_edtSpinEditDecrementImageDisabled_DevEx {
    background-position: -130px -8px;
    width: 7px;
    height: 5px;
}

.dxEditors_edtSpinEditLargeIncImage_DevEx {
    background-position: -156px 0px;
    width: 5px;
    height: 7px;
}

.dxEditors_edtSpinEditLargeIncImageDisabled_DevEx {
    background-position: -156px -8px;
    width: 5px;
    height: 7px;
}

.dxEditors_edtSpinEditLargeDecImage_DevEx {
    background-position: -149px 0px;
    width: 5px;
    height: 7px;
}

.dxEditors_edtSpinEditLargeDecImageDisabled_DevEx {
    background-position: -149px -8px;
    width: 5px;
    height: 7px;
}

.dxEditors_fcadd_DevEx {
    background-position: 0px -74px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcaddhot_DevEx {
    background-position: -21px -74px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremove_DevEx {
    background-position: -42px -74px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremovehot_DevEx {
    background-position: -63px -74px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddcondition_DevEx {
    background-position: -168px -53px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddgroup_DevEx {
    background-position: -147px -53px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupremove_DevEx {
    background-position: -126px -74px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopany_DevEx {
    background-position: 0px -95px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbegin_DevEx {
    background-position: -42px -95px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbetween_DevEx {
    background-position: -84px -95px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopcontain_DevEx {
    background-position: -105px -116px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotcontain_DevEx {
    background-position: -147px -116px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotequal_DevEx {
    background-position: -168px -95px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopend_DevEx {
    background-position: -63px -95px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopequal_DevEx {
    background-position: 0px -116px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreater_DevEx {
    background-position: -21px -116px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreaterorequal_DevEx {
    background-position: -42px -116px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotblank_DevEx {
    background-position: -105px -95px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopblank_DevEx {
    background-position: -126px -95px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopless_DevEx {
    background-position: -63px -116px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplessorequal_DevEx {
    background-position: -84px -116px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplike_DevEx {
    background-position: -126px -116px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotany_DevEx {
    background-position: -21px -95px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotbetween_DevEx {
    background-position: -147px -95px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotlike_DevEx {
    background-position: -168px -116px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupand_DevEx {
    background-position: -84px -74px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupor_DevEx {
    background-position: -168px -74px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotand_DevEx {
    background-position: -105px -74px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotor_DevEx {
    background-position: -147px -74px;
    width: 13px;
    height: 13px;
}

.dxEditors_caRefresh_DevEx {
    background-position: 0px -132px;
    width: 25px;
    height: 25px;
}

.dxEditors_edtDETSClockFace_DevEx
{
    background-position: 0 -198px;
    width: 119px;
    height: 119px;
}

.dxEditors_edtDETSHourHand_DevEx
{
    background-position: -135px -198px;
    width: 7px;
    height: 70px;
}

.dxEditors_edtDETSMinuteHand_DevEx
{
    background-position: -128px -198px;
    width: 7px;
    height: 70px;
}

.dxEditors_edtDETSSecondHand_DevEx
{
    background-image: url('sprite.gif') \9; /* for IE6,7,8 */
    background-position: -121px -198px;
    width: 7px;
    height: 78px;
}
