.dxRichEdit_AlignBottomCenter_MetropolisBlue,
.dxRichEdit_AlignBottomLeft_MetropolisBlue,
.dxRichEdit_AlignBottomRight_MetropolisBlue,
.dxRichEdit_AlignMiddleCenter_MetropolisBlue,
.dxRichEdit_AlignMiddleLeft_MetropolisBlue,
.dxRichEdit_AlignMiddleRight_MetropolisBlue,
.dxRichEdit_AlignTopCenter_MetropolisBlue,
.dxRichEdit_AlignTopLeft_MetropolisBlue,
.dxRichEdit_AlignTopRight_MetropolisBlue,
.dxRichEdit_Bookmark_MetropolisBlue,
.dxRichEdit_Copy_MetropolisBlue,
.dxRichEdit_Cut_MetropolisBlue,
.dxRichEdit_Delete_Hyperlink_MetropolisBlue,
.dxRichEdit_FirstLineIdentDragHandle_MetropolisBlue,
.dxRichEdit_FloatingObjectBringForward_MetropolisBlue,
.dxRichEdit_FloatingObjectBringInFrontOfText_MetropolisBlue,
.dxRichEdit_FloatingObjectBringToFront_MetropolisBlue,
.dxRichEdit_FloatingObjectBringToFrontOfText_MetropolisBlue,
.dxRichEdit_FloatingObjectLayoutOptions_MetropolisBlue,
.dxRichEdit_FloatingObjectSendBackward_MetropolisBlue,
.dxRichEdit_FloatingObjectSendBehindText_MetropolisBlue,
.dxRichEdit_FloatingObjectSendToBack_MetropolisBlue,
.dxRichEdit_Font_MetropolisBlue,
.dxRichEdit_Hyperlink_MetropolisBlue,
.dxRichEdit_IndentDecrease_MetropolisBlue,
.dxRichEdit_IndentIncrease_MetropolisBlue,
.dxRichEdit_InsertTableCells_MetropolisBlue,
.dxRichEdit_InsertTableColumnsToTheLeft_MetropolisBlue,
.dxRichEdit_InsertTableColumnsToTheRight_MetropolisBlue,
.dxRichEdit_InsertTableRowsAbove_MetropolisBlue,
.dxRichEdit_InsertTableRowsBelow_MetropolisBlue,
.dxRichEdit_LeftColumns_MetropolisBlue,
.dxRichEdit_LeftIdentDragHandle_MetropolisBlue,
.dxRichEdit_ListBullets_MetropolisBlue,
.dxRichEdit_MergeTableCells_MetropolisBlue,
.dxRichEdit_OneColumn_MetropolisBlue,
.dxRichEdit_Paragraph_MetropolisBlue,
.dxRichEdit_Paste_MetropolisBlue,
.dxRichEdit_RightColumns_MetropolisBlue,
.dxRichEdit_RightIdentDragHandle_MetropolisBlue,
.dxRichEdit_SelectAll_MetropolisBlue,
.dxRichEdit_TableAutoFitContents_MetropolisBlue,
.dxRichEdit_TableAutoFitWindow_MetropolisBlue,
.dxRichEdit_TableFixedColumnWidth_MetropolisBlue,
.dxRichEdit_TableProperties_MetropolisBlue,
.dxRichEdit_TextWrapBehind_MetropolisBlue,
.dxRichEdit_TextWrapInFrontOfText_MetropolisBlue,
.dxRichEdit_TextWrapSquare_MetropolisBlue,
.dxRichEdit_TextWrapThrough_MetropolisBlue,
.dxRichEdit_TextWrapTight_MetropolisBlue,
.dxRichEdit_TextWrapTopAndBottom_MetropolisBlue,
.dxRichEdit_ThreeColumns_MetropolisBlue,
.dxRichEdit_TwoColumns_MetropolisBlue
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxRichEdit_AlignBottomCenter_MetropolisBlue
{
    background-position: -17px -84px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_AlignBottomLeft_MetropolisBlue
{
    background-position: 0px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_AlignBottomRight_MetropolisBlue
{
    background-position: -34px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_AlignMiddleCenter_MetropolisBlue
{
    background-position: -136px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_AlignMiddleLeft_MetropolisBlue
{
    background-position: -102px -84px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_AlignMiddleRight_MetropolisBlue
{
    background-position: -136px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_AlignTopCenter_MetropolisBlue
{
    background-position: -34px -84px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_AlignTopLeft_MetropolisBlue
{
    background-position: -170px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_AlignTopRight_MetropolisBlue
{
    background-position: -119px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Bookmark_MetropolisBlue
{
    background-position: -153px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Copy_MetropolisBlue
{
    background-position: 0px -84px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Cut_MetropolisBlue
{
    background-position: -51px -84px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Delete_Hyperlink_MetropolisBlue
{
    background-position: -68px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_FirstLineIdentDragHandle_MetropolisBlue
{
    background-position: -182px 0px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_FloatingObjectBringForward_MetropolisBlue
{
    background-position: -153px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_FloatingObjectBringInFrontOfText_MetropolisBlue
{
    background-position: -85px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_FloatingObjectBringToFront_MetropolisBlue
{
    background-position: -136px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_FloatingObjectBringToFrontOfText_MetropolisBlue
{
    background-position: -85px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_FloatingObjectLayoutOptions_MetropolisBlue
{
    background-position: -68px -84px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_FloatingObjectSendBackward_MetropolisBlue
{
    background-position: -119px -84px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_FloatingObjectSendBehindText_MetropolisBlue
{
    background-position: -51px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_FloatingObjectSendToBack_MetropolisBlue
{
    background-position: -153px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Font_MetropolisBlue
{
    background-position: -34px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Hyperlink_MetropolisBlue
{
    background-position: -17px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_IndentDecrease_MetropolisBlue
{
    background-position: -17px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_IndentIncrease_MetropolisBlue
{
    background-position: 0px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_InsertTableCells_MetropolisBlue
{
    background-position: -170px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_InsertTableColumnsToTheLeft_MetropolisBlue
{
    background-position: -170px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_InsertTableColumnsToTheRight_MetropolisBlue
{
    background-position: -170px -84px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_InsertTableRowsAbove_MetropolisBlue
{
    background-position: -136px -84px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_InsertTableRowsBelow_MetropolisBlue
{
    background-position: -85px -84px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_LeftColumns_MetropolisBlue
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_LeftIdentDragHandle_MetropolisBlue
{
    background-position: -183px -24px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_ListBullets_MetropolisBlue
{
    background-position: -102px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_MergeTableCells_MetropolisBlue
{
    background-position: -102px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_OneColumn_MetropolisBlue
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_Paragraph_MetropolisBlue
{
    background-position: 0px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Paste_MetropolisBlue
{
    background-position: -119px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_RightColumns_MetropolisBlue
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_RightIdentDragHandle_MetropolisBlue
{
    background-position: -173px -24px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_SelectAll_MetropolisBlue
{
    background-position: -17px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_TableAutoFitContents_MetropolisBlue
{
    background-position: -68px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_TableAutoFitWindow_MetropolisBlue
{
    background-position: -165px 0px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_TableFixedColumnWidth_MetropolisBlue
{
    background-position: -153px -84px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_TableProperties_MetropolisBlue
{
    background-position: -85px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_TextWrapBehind_MetropolisBlue
{
    background-position: -68px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_TextWrapInFrontOfText_MetropolisBlue
{
    background-position: -102px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_TextWrapSquare_MetropolisBlue
{
    background-position: -34px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_TextWrapThrough_MetropolisBlue
{
    background-position: -119px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_TextWrapTight_MetropolisBlue
{
    background-position: -51px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_TextWrapTopAndBottom_MetropolisBlue
{
    background-position: -51px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_ThreeColumns_MetropolisBlue
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_TwoColumns_MetropolisBlue
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}

