.dxreControl_MetropolisBlue {
	border-bottom: 1px solid #C0C0C0;
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxreControl_MetropolisBlue.dxre-notInternalRibbon {
	border-top: 1px solid #C0C0C0;
}
.dxreControl_MetropolisBlue .dxre-rulerWrapper {
	padding-top: 2px;
    background-color: #FFFFFF;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}
.dxreControl_MetropolisBlue .dxre-ruler .dxre-columnHandleLeftPart,
.dxreControl_MetropolisBlue .dxre-ruler .dxre-columnHandleRightPart {
    width: 5px;
    background-color: #bcb8b8;
}
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerDevisions,
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerDevisions div,
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl_MetropolisBlue .dxre-ruler .dxre-columnHandle,
.dxreControl_MetropolisBlue .dxre-ruler .dxre-columnHandle > div {
	height: 12px;
}
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerDevisions {
    background-color: #fff;
}
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl_MetropolisBlue .dxre-ruler .dxre-columnHandle {
    background-color: #d3d3d3;
}
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerDevisions .dxre-rulerMinorDevision,
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerDevisions .dxre-rulerMajorDevision {
	border-left: 1px solid #a3a3a3;
}
.dxreControl_MetropolisBlue .dxre-ruler .dxre-rulerDevisions .dxre-rulerNumberDevision {
	color: #4e4e4e;
	font-size: 10px;
	line-height: 10px;
}
.dxreControl_MetropolisBlue .dxre-rulerLine {
	border-left: 1px dashed #717171;
}
.dxreControl_MetropolisBlue .dxre-leftIdentDragHandleBody {
    background-color: white;
    border: 1px solid #929292;
    border-top: none;
    height: 6px;
    box-sizing: border-box;
}
.dxreControl_MetropolisBlue .dxrControl_MetropolisBlue .dxr-minBtn 
{
	padding-right: 7px;
}
.dxreControl_MetropolisBlue .dxrControl_MetropolisBlue .dxtcLite_MetropolisBlue .dxtc-leftIndent
{
	width: 0px;
}
.dxreControl_MetropolisBlue .dxre-page 
{
    border: 1px solid #C0C0C0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.dxreControl_MetropolisBlue .dxre-view 
{
	background: #FFFFFF;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}
.dxreControl_MetropolisBlue .dxre-bar 
{
	background-color: #FFFFFF;
	border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    height: 22px;
}
.dxreControl_MetropolisBlue .dxre-bar .dxre-loadingPanel {
    float: right;
    color: #333333;
    margin: 2px 2px 0 0;
}
.dxreControl_MetropolisBlue .dxre-bar .dxre-loadingPanel .dx {
    line-height: 0;
}
.dxreControl_MetropolisBlue .dxre-bar .dxre-loadingPanel .dxlp-loadingImage {
    width: 16px;
    height: 16px;
    background: url('reLoadingOnStatusBar.gif');
}

/*Dialogs Style*/
.dxreControl_MetropolisBlue .dxreDlgParagraphForm .dxtc-content {
    width: 430px;
    height: 290px;
}
.dxreControl_MetropolisBlue .dxreDlgPageSetupForm .dxtc-content {
    width: 350px;
    height: 230px;
}
.dxreControl_MetropolisBlue .dxreDlgColumnsForm {
    width: 400px;
}
.dxreControl_MetropolisBlue .dxreDlgErrorForm {
    width: 350px;
}
.dxreControl_MetropolisBlue .dxreDlgCaptionCell {
	padding-left: 5px;
    padding-right: 7px;
    padding-top: 3px;
}
.dxreControl_MetropolisBlue .dxreDlgContentCell {
	padding: 11px;
}
.dxreControl_MetropolisBlue .dxreDlgHeaderCell {
	padding-bottom: 7px;
}
.dxreControl_MetropolisBlue .dxreDlgEmptyLine {
	height: 8px;
}
.dxreControl_MetropolisBlue .dxreDlgEditor {
    width: 110px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_MetropolisBlue .dxreDlgEditorShort {
    width: 70px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_MetropolisBlue .dxreDlgFooterBtn {
    width: 80px;
    margin-left: 8px;
}
.dxreControl_MetropolisBlue .dxreDlgPageSetupApplyTo {
	bottom: 70px;
	left: 23px;
}
.dxreControl_MetropolisBlue .dxreDlgTypeRadionButtonListCell {
	padding-bottom: 10px;
}
.dxreControl_MetropolisBlue .dxreDlgFooter {
	height: 27px;
	padding: 10px 11px 11px 100px;
    border-top: solid 1px #C0C0C0;
}
.dxreControl_MetropolisBlue .dxreDlgInsertImageForm .dxreDlgImagePreview {
    padding-top: 10px;
}
.dxreControl_MetropolisBlue .dxreDlgInsertImageForm .dxreDlgImagePreviewCell {
    height: 170px;
    color: #878787;
    border: dashed 1px #cac8c8;
}
.dxreControl_MetropolisBlue .dxreDlgInsertImageForm .dxreDlgImagePreviewCell img {
    width: 180px;
    height: 100px;
}
.dxreControl_MetropolisBlue .dxreDlgInsertImageForm .dxreDlgInsertImagePanel {
    width: 315px;
}
