﻿<p><strong>1)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ABOUT THIS POLICY</strong></p>
<p>1.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We appreciate your interest in our products and services and your visit to this website. Your privacy is important to us and we want you to feel comfortable with how we use and share your personal information.</p>
<p>1.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This policy sets out how the ultimate parent company of the Qubedata.co.uk Ltd and the companies within the Qube Group that are based in the UK handle your personal information, including when and why it is collected, used and disclosed and how it is kept secure.</p>
<p>1.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You will find our contact details at the end of this policy which you can use if you have any questions, including how to update or access your personal information or to make a complaint.</p>
<p>1.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This policy may change, so please check this page from time to time to ensure that you&rsquo;re happy with any changes. (Please see further Changes to this policy in Section 11)</p>
<p>1.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This policy was last updated on 23 May 2018.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; WHO WE ARE</strong></p>
<p>2.1 QUBEDATA.CO.UK are a UK based company. We provide high quality, innovative automotive consultancy solutions to clients within the UK and mainland Europe which includes business to business reporting and analysis systems.</p>
<p>2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Where this policy refers to &ldquo;we&rdquo;, &ldquo;our&rdquo; or &ldquo;us&rdquo; below, unless it mentions otherwise, it&rsquo;s referring to the particular company that is the controller of your personal information.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>3) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; HOW AND WHAT PERSONAL INFORMATION WE COLLECT</strong></p>
<p>3.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We may collect and process the following personal information about you</p>
<p>Personal information you give to us: This is information about you that you give to us by entering information via our websites or our social media pages or by corresponding with us by phone, email or otherwise and is provided entirely voluntarily. The information you give to us includes your name, contact details (such as phone number, email address and address), enquiry details and your opinion of our products.</p>
<p>Personal information we collect about you: We may automatically collect the following personal information: our web servers store as standard details of your browser and operating system, the website from which you visit our website, the pages that you visit on our website, the date of your visit, and, for security reasons, e.g. to identify attacks on our website, the Internet protocol (IP) address assigned to you by your internet service. We collect some of this information using cookies &ndash; please see Cookies in Section 9.2 for further information. We may also collect any personal information which you allow to be shared that is part of your public profile on a third party social network.</p>
<p>&nbsp;</p>
<p>3.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Please see further how we use your personal information in Section 4 for details of the purposes for which we use the personal information we obtain from these sources and the legal basis on which we rely to process that information. The remaining provisions of this policy also apply to any personal information we obtain from these sources.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>4)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; HOW WE USE YOUR PERSONAL INFORMATION</strong></p>
<p>4.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Where you have provided CONSENT</p>
<p>We may use and process your personal information where you have consented for us to do so for the following purposes:</p>
<p>to contact you with marketing information about products and services. Please see the Marketing section below in this policy to find out more</p>
<p>4.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You may withdraw your consent for us to use your information in any of these ways at any time. Please see Withdrawing your consent in Section 8.4 for further details.</p>
<p>4.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Where it is in your VITAL INTEREST</p>
<p>We may use your personal information to contact you if we believe processing of your personal information will prevent or reduce any potential harm to you. It is in your vital interests for us to use your personal information in this way.</p>
<p>4.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Where required to comply with our LEGAL OBLIGATIONS</p>
<p>We will use your personal information to comply with our legal obligations including: (i) to assist HMRC, the Police, the Driver and Vehicle Licensing Agency (DVLA) or any other public authority or criminal investigation body; (ii) to identify you when you contact us; and (iii) to verify the accuracy of data that we hold about you.</p>
<p>4.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Where there is a LEGITIMATE INTEREST</p>
<p>We may use and process your personal information where it is necessary for us to pursue our legitimate interests as a business for the following purposes:</p>
<p>for analysis, and profiling to inform our marketing strategy, and to enhance and personalise your customer or visitor experience;</p>
<p>for market research in order to continually improve the products and services that we and our clients deliver to you;</p>
<p>to administer our websites and for internal operations, including troubleshooting, testing, statistical purposes;</p>
<p>for marketing activities (other than where we rely on your consent) e.g. to tailor marketing communications or send targeted marketing messages via social media and other third-party platforms;</p>
<p>for the prevention of fraud and other criminal activities;</p>
<p>to correspond and communicate with you;</p>
<p>to create a better understanding of you as a customer or visitor;</p>
<p>for network and information security in order for us to take steps to protect your information against loss or damage, theft or unauthorised access;</p>
<p>to comply with a request from you in connection with the exercise of your rights (for example where you have asked us not to contact you for marketing purposes, we will keep a record of this on our suppression lists in order to be able to comply with your request);</p>
<p>for the purposes of corporate restructure or reorganisation or sale of our business or assets;</p>
<p>for efficiency, accuracy or other improvements of our databases and systems e.g. by combining systems or consolidating records we or our group companies hold about you;</p>
<p>to enforce or protect our contractual or other legal rights or to bring or defend legal proceedings; and</p>
<p>for general administration including managing your queries, complaints, or claims, and to send service messages to you.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>5)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; OTHERS WHO MAY RECEIVE OR HAVE ACCESS TO YOUR PERSONAL INFORMATION</strong></p>
<p>5.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Our suppliers and service providers</p>
<p>We may disclose your information to our third-party service providers, agents, subcontractors and other organisations for the purposes of providing services to us or directly to you on our behalf. Such third parties may include cloud services providers (such as hosting and email management) or advertising agencies, administrative services or other third parties who provide services to us.</p>
<p>When we use third party service providers, we only disclose to them any personal information that is necessary for them to provide their service and we have a contract in place that requires them to keep your information secure and not to use it other than in accordance with our specific instructions.</p>
<p>5.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Other ways we may share your personal information</p>
<p>We may transfer your personal information to a third party as part of a sale of some or all of our business and assets to any third party or as part of any business restructuring or reorganisation. We may also transfer your personal information if we&rsquo;re under a duty to disclose or share it in order to comply with any legal obligation (e.g. by sharing your personal information with the DVLA), to detect or report a crime, to enforce or apply the terms of our contracts or to protect the rights, property or safety of our visitors and customers.</p>
<p>However, we will always take steps with the aim of ensuring that your privacy rights continue to be protected.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>6)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; IS YOUR PERSONAL INFORMATION STORED OUTSIDE THE EEA</strong></p>
<p>6.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All information provided is stored with the EEA</p>
<p><strong>&nbsp;</strong></p>
<p><strong>7)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; HOW LONG WE KEEP YOUR PERSONAL INFORMATION FOR</strong></p>
<p>7.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If we collect your personal information, the length of time we retain it is determined by a number of factors including the purpose for which we use that information and our obligations under other laws.</p>
<p>7.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We do not retain personal information in an identifiable format for longer than is necessary.</p>
<p>7.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We may need your personal information to establish, bring or defend legal claims, in which case we will retain your personal information for 7 years after the last occasion on which we have used your personal information in one of the ways specified in How we use your personal information in Section 4.</p>
<p>7.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The only exceptions to this are where:</p>
<p>the law requires us to hold your personal information for a longer period, or delete it sooner;</p>
<p>you exercise your right to have the information erased (where it applies) and we do not need to hold it in connection with any of the reasons permitted in this section 7, or because we are required under the law (see further Erasing your personal information or restricting its processing in Section 8.6); and</p>
<p>in limited cases, the law permits us to keep your personal information indefinitely provided we put certain protections in place.</p>
<p><strong>8)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; YOUR RIGHTS</strong></p>
<p>8.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your 'data subject' rights:</p>
<p>You have a number of rights in relation to your personal information under data protection law. In relation to certain rights, we may ask you for information to confirm your identity and, where applicable, to help us to search for your personal information. Except in rare cases, we will respond to you within 30 days after we have received this information or, where no such information is required, after we have received your request.</p>
<p>8.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Accessing your personal information</p>
<p>You have the right to ask for a copy of the information that we hold about you by emailing or writing to us at the address at the end of this policy. We may not provide you with a copy of your personal information if this concerns other individuals or we have another lawful reason to withhold that information.</p>
<p>8.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Correcting and updating your personal information</p>
<p>The accuracy of your information is important to us and we are working on ways to make it easier for you to review and correct the information that we hold about you.</p>
<p>In the meantime, if you change your name or address/email address, or you discover that any of the other information we hold is inaccurate or out of date, please let us know by contacting us in any of the details described at the end of this policy.</p>
<p>8.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Withdrawing your consent</p>
<p>Where we rely on your consent as the legal basis for processing your personal information, as set out under How we use your personal information in Section 4, you may withdraw your consent at any time by contacting us using the details at the end of this policy. If you would like to withdraw your consent to receiving any direct marketing, please inform us by emailing or writing using the address at the end of this policy.</p>
<p>If you withdraw your consent, our use of your personal information before you withdraw is still lawful.</p>
<p>8.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Objecting to our use of your personal information and automated decisions made about you.</p>
<p>Where we rely on our legitimate business interests as the legal basis for processing your personal information for any purpose(s), as set out under How we use your personal information in Section 4, you may object to us using your personal information for these purposes by emailing or writing to us at the address at the end of this policy. Except for the purposes for which we are sure we can continue to process your personal information, we will temporarily stop processing your personal information in line with your objection until we have investigated the matter. If we agree that your objection is justified in accordance with your rights under data protection laws, we will permanently stop using your data for those purposes. Otherwise we will provide you with our justification as to why we need to continue using your data.</p>
<p>You may object to us using your personal information for direct marketing purposes and we will automatically comply with your request.</p>
<p>8.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Erasing your personal information or restricting its processing</p>
<p>In certain circumstances, you may ask for your personal information to be removed from our systems by emailing or writing to us at the address at the end of this policy. Unless there is a reason that the law allows us to use your personal information for longer, we will make reasonable efforts to comply with your request.</p>
<p>You may also ask us to restrict processing your personal information in the following situations:</p>
<p>where you believe it is unlawful for us to do so,</p>
<p>you have objected to its use and our investigation is pending or you require us to keep it in connection with legal proceedings.</p>
<p>In these situations, we may only process your personal information whilst its processing is restricted if we have your consent or are legally permitted to do so, for example for storage purposes, to protect the rights of another individual or company or in connection with legal proceedings.</p>
<p>8.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Transferring your personal information in a structured data file</p>
<p>Where we rely on your consent as the legal basis for processing your personal information or need to process it in connection with your contract, as set out under Section 4 How we use your personal information, you may ask us to provide you with a copy of that information in a structured data file. We will provide this to you electronically in a structured, commonly used and machine-readable form, such as a CSV file.</p>
<p>You can ask us to send your personal information directly to another service provider, and we will do so if this is technically possible. We may not provide you with a copy of your personal information if this concerns other individuals or we have another lawful reason to withhold that information.</p>
<p>&nbsp;</p>
<p>8.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Complaining to the UK data protection regulator</p>
<p>You have the right to complain to the Information Commissioners Office (ICO) if you are concerned about the way we have processed your personal information. Please visit the ICO&rsquo;s website for further details <a href="https://ico.org.uk/">https://ico.org.uk/</a></p>
<p>&nbsp;</p>
<p><strong>9)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SECURITY / COOKIES / LINKS / SOCIAL PLUGINS</strong></p>
<p>9.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Security measures we put in place to protect your personal information</p>
<p>We use technical and organisational security measures to protect the personal information supplied by you and managed by us against manipulation, loss, destruction, and access by third parties. Our security measures are continually improved in line with technological developments.</p>
<p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal information, we cannot guarantee the security of your information whilst in transit to our website and any transmission is at your own risk.</p>
<p>Where we have provided (or where you have chosen) a password which enables you to access an account, you are responsible for keeping this password confidential. We ask you not to share your password with anyone.</p>
<p>9.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Use of &lsquo;cookies&rsquo;</p>
<p>Cookies are text files containing information downloaded to your PC, mobile or other device when you visit a website. They are then sent back to the originating website per visit or to another website that recognises that cookie; this allows a website to recognise a user's device.</p>
<p><strong>Persistent cookies</strong></p>
<p>These remain on a user's device for a time period specified in the cookie. They are activated each time the user visits the website that created that particular cookie.</p>
<p><strong>Session cookies</strong></p>
<p>These cookies allow website operators to link the actions of a user during a browser session. The session starts when a user opens the browser window and finishes when they close the browser window. Session cookies are created temporarily - once the browser is closed, all session cookies are deleted. Cookies do many different jobs, like navigating between pages efficiently, remembering your preferences, and improving the user experience. You can find more information about cookies at www.allaboutcookies.org and www.youronlinechoices.eu</p>
<p><strong>Cookies used on the website</strong></p>
<p>A list of the cookies used on the website by category is set out below.</p>
<p><strong>Strictly necessary cookies</strong></p>
<p>These cookies enable services you specifically ask for. For those types of cookies that are strictly necessary, no consent is required. These cookies are essential in order to enable you to move around the website and use its features, such as accessing secure areas. Without these cookies, the services you ask for cannot be provided.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Functionality cookies</strong></p>
<p>These cookies remember choices you make to improve your experience. They allow the website to remember choices you made (such as your name or the region you're in) and provide enhanced, more personal features. These cookies can also be used to remember changes made to text size, fonts and other parts of web pages that can be customised. The information these cookies collect may not reveal the person's identity and they cannot track browsing activity on other websites.</p>
<p><strong>Using browser settings to manage cookies</strong></p>
<p>The help function on the menu bar of most browsers will inform you how to stop accepting new cookies, how they can notify you when you receive a new cookie and how to disable them altogether. Similar data can also be disabled or deleted as used by browser add-ons, such as Flash cookies, by changing the add-on's settings or visiting the website of its manufacturer. However, because cookies allow you to take advantage of some of the website's essential features they can be left enabled. For example, if you block or otherwise reject cookies you may not be able to use our products, services and other facilities. If you leave cookies turned on, remember to sign off when you finish using a shared computer.</p>
<p>9.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Links to other websites</p>
<p>Our website may contain links to other websites run by other organisations which we do not control. This policy does not apply to those other websites and Apps&sbquo; so we encourage you to read their privacy statements. We are not responsible for the privacy policies and practices of other websites and Apps (even if you access them using links that we provide) and we provide links to those websites solely for your information and convenience. We specifically disclaim responsibility for their content, privacy practices and terms of use, and we make no endorsements, representations or promises about their accuracy, content or thoroughness. Your disclosure of personal information to third party websites is at your own risk.</p>
<p>In addition, if you linked to our website from a third-party website, we cannot be responsible for the privacy policies and practices of the owners and operators of that third-party website and recommend that you check the policy of that third-party website.</p>
<p>9.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Social plugins</p>
<p>We use so-called social plugins (buttons) of social networks such as Facebook, Google+ and Twitter.</p>
<p>When you visit our websites, these buttons are deactivated by default, i.e. without your intervention they will not send any data to the respective social networks. Before you are able to use these buttons, you must activate them by clicking on them. They then remain active until you deactivate them again or delete your cookies. Please see Cookies in Section 9.2 for further details regarding our use of cookies.</p>
<p>After their activation, a direct link to the server of the respective social network is established. The contents of the button are then transmitted from the social network directly to your browser and incorporated in the website.</p>
<p>After activation of a button, the social network can retrieve data, independently of whether you interact with the button or not. If you are logged on to a social network, the network can assign your visit to the website to your user account. A social network cannot assign a visit to websites operated by our other group companies unless and until you activate the respective button there as well.</p>
<p>If you are a member of a social network and do not wish it to combine data retrieved from your visit to our websites with your membership data, you must log out from the social network concerned before activating the buttons.</p>
<p>We have no influence on the scope of data that is collected by the social networks through their buttons. The data use policies of the social networks provide information on the purpose and extent of the data that they collect, how this data is processed and used, the rights available to you and the settings that you can use to protect your privacy.</p>
<p>&nbsp;</p>
<p><strong>10)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MARKETING</strong></p>
<p>10.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We may collect your preferences to send you marketing information directly from us by email/SMS (where applicable)</p>
<p>We will only do so if you have consented to receiving such marketing information directly from us.</p>
<p>10.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We may contact you with targeted advertising delivered online through social media and platforms (operated by other companies) by using your personal information or use your personal information to tailor marketing to improve its relevance to you, unless you object.</p>
<p>10.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; From time to time, we may ask you to refresh your marketing preferences by asking you to confirm that you consent to continue receiving marketing information from us.</p>
<p>10.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You have the right to opt-out of our use of your personal information to provide marketing to you in any of the ways mentioned above. Please see Withdrawing your Consent in Section 8.4 and Objecting to our use of your personal information and automated decisions made about you in Section 8.5 above for further details on how you can do this.</p>
<p><strong>11)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CHANGES TO THIS POLICY</strong></p>
<p>We may review this policy from time to time and any changes will be notified to you by posting an updated version on our website. We recommend you regularly check for changes and review this policy when you visit our website. If you do not agree with any aspect of the updated policy, you must promptly notify us and cease using our services.</p>
<p><strong>12)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CONTACT US</strong></p>
<p>If you have any questions, suggestions or complaints about the processing of your personal information or wish to contact us to amend/update your marketing preferences, please contact our Data Officer.</p>
<p>QUBEDATA.Co.UK Ltd</p>
<p>10 Hollingworth Court,</p>
<p>Turkey Mill, Ashford Road, Maidstone</p>
<p>Kent, ME14 5PP</p>
<p>Email: <a href="mailto:dataofficer@qubedata.net">dataofficer@qubedata.net</a></p>
<p>Telephone: 0845 548 7823</p>