﻿<h3><strong>Website Terms &amp; Conditions</strong></h3>
<p>This agreement is a legal agreement between you and Qubedata.co.uk Limited providers of the website (we, us or our) for access to the Value Chain Website.</p>
<p>By clicking on the &ldquo;Log in&rdquo; button where indicated and accessing the Value Chain Website you agree to the following terms. If you do not agree to these terms, you are not permitted to access the Value Chain Website.</p>
<p>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; INTERPRETATION</p>
<p>The definitions and rules of interpretation in this clause apply in this licence.</p>
<p>1.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Definitions:</p>
<p>Access Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; means the password provided and allocated by us to you to allow access and use of the Value Chain Website.</p>
<p>Business Day:&nbsp;&nbsp;&nbsp; means any day (other than a Saturday, Sunday, bank or public holiday) on which banks are open in England.</p>
<p>Intellectual Property Rights: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; patents, utility models, rights to inventions, copyright and related rights, trade marks and service marks, trade names and domain names, rights in get-up, goodwill and the right to sue for passing off or unfair competition, rights in designs, rights in computer Value Chain Website, database rights, rights to preserve the confidentiality of information (including know-how and trade secrets) and any other intellectual property rights, including all applications for (and rights to apply for and be granted), renewals or extensions of, and rights to claim priority from, such rights and all similar or equivalent rights or forms of protection which subsist or will subsist, now or in the future, in any part of the world.</p>
<p>Toyota: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; means the company known as Toyota (GB) PLC incorporated and registered office is at Great Burgh, Burgh Heath, Epsom, Surrey KT18 5UX.</p>
<p>Value Chain Website:&nbsp;&nbsp;&nbsp;&nbsp; the website accessed through the URL: <a href="http://www.toyotavaluechain.net">www.toyotavaluechain.net</a> and <a href="http://www.lexusvaluechain.net">www.lexusvaluechain.net</a> and .co.uk as amended from time to time together with all reports and report formats produced from the website whether text based or graphical or otherwise.</p>
<p>1.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A reference to a holding company or a subsidiary means a holding company or a subsidiary (as the case may be) as defined in section 1159 of the Companies Act 2006.</p>
<p>1.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Clause, Schedule and paragraph headings shall not affect the interpretation of this agreement.</p>
<p>1.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Unless the context otherwise requires, words in the singular shall include the plural and in the plural shall include the singular.</p>
<p>1.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Unless the context otherwise requires, a reference to one gender shall include a reference to the other genders.</p>
<p>1.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A reference to a statute or statutory provision shall include all subordinate legislation made from time to time under that statute or statutory provision.</p>
<p>1.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A reference to writing or written includes faxes but not e-mail.</p>
<p>1.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Any words following the terms including, include, in particular, for example or any similar expression shall be construed as illustrative and shall not limit the sense of the words, description, definition, phrase or term preceding those terms.</p>
<p>1.9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In the case of conflict or ambiguity between any provision contained in the body of this licence and any provision contained in the schedules or appendices, the provision in the body of this licence shall take precedence.</p>
<p>1.10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Schedules form part of this agreement and shall have effect as if set out in full in the body of this agreement. Any reference to this agreement includes the Schedules.</p>
<p>2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LICENCE</p>
<p>2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In consideration of you agreeing to abide by the terms of this agreement, we grant to you a non-exclusive, non-transferable, revocable, limited licence to access the Value Chain Website subject to this agreement, solely for the purposes of making the Value Chain Website available to you for and on behalf of Toyota.</p>
<p>2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You shall not access the Value Chain Website other than as specified in clause 2.1 without our prior written consent.</p>
<p>2.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We may at any time sub-license, assign, novate, charge or deal in any other manner with any or all of our rights and obligations under this licence.</p>
<p>3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RESTRICTIONS ON USE</p>
<p>3.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Except as expressly set out in this Agreement or as permitted by applicable law you undertake that you shall not:</p>
<p>3.1.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; attempt to copy, duplicate, adapt, modify, create derivative works from or distribute all or any portion of the Value Chain Website;</p>
<p>3.1.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; rent, lease, sub-license, assign, sell, encumber, loan, translate, merge, adapt, vary or modify the Value Chain Website;</p>
<p>3.1.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; permit the Value Chain Website or any part of it to be combined with, or become incorporated in, any other programme(s);</p>
<p>3.1.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; attempt to re-use, reproduce, reverse compile, disassemble, reverse engineer, attempt to discern any software, including source code, used by or otherwise relating to the Value Chain Website or otherwise reduce to human-perceivable form all or any part of the Value Chain Website;</p>
<p>3.1.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; use the Value Chain Website on behalf of any party other than Toyota nor allow or permit a third party to do so or to have access to the Value Chain Website;</p>
<p>3.1.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; access, store, distribute or transmit any viruses, during the course of your use of the Value Chain Website;</p>
<p>3.1.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; remove or alter any copyright or other proprietary notice on any of the Value Chain Website; or</p>
<p>3.1.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; access or use all or any part of the Value Chain Website in order to build a product or service which competes with the Value Chain Website,</p>
<p>and we reserve the right, without liability or prejudice to our other rights under this Agreement, to disable your access to the Value Chain Website for any breach(es) of this clause 3.1 and in such circumstances no compensation will be payable to you.</p>
<p>&nbsp;</p>
<p>3.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You undertake that:</p>
<p>3.2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You will not allow or suffer any Access Passwords to be used by anyone else; and</p>
<p>3.2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; you shall not access, store, distribute or transmit any viruses, or any material during your access to the Value Chain Website that:</p>
<p>3.2.2.1&nbsp;&nbsp; is unlawful, harmful, threatening, defamatory, obscene, infringing, harassing or racially or ethnically offensive;</p>
<p>3.2.2.2&nbsp;&nbsp; facilitates illegal activity;</p>
<p>3.2.2.3&nbsp;&nbsp; depicts sexually explicit images;</p>
<p>3.2.2.4&nbsp;&nbsp; promotes unlawful violence;</p>
<p>3.2.2.5&nbsp;&nbsp; is discriminatory based on race, gender, colour, religious belief, sexual orientation, disability; or</p>
<p>3.2.2.6&nbsp;&nbsp; in a manner that is otherwise illegal or causes damage or injury to any person or property; and</p>
<p>3.2.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; you shall keep your Access Password confidential and secure at all times and shall not share or otherwise disclose such Access Password to any other person.</p>
<p>3.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If you become aware of any security breach in connection with this Agreement that could compromise the security or integrity of the Value Chain Website or otherwise adversely affect us, or if you learn or suspect that any Access Password has been revealed to or obtained by any unauthorised person, you shall, at your own expense, promptly notify us and fully co-operate with us to remedy the issue as soon as reasonably practicable.</p>
<p>3.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You shall permit us to inspect and have access to any premises (and to the computer equipment located there) at or on which the Value Chain Website is being used, and have access to any records kept in connection with this licence, for the purposes of ensuring that you are complying with the terms of this licence, provided that we provide reasonable advance notice to you of such inspections, which shall take place at reasonable times.</p>
<p>4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CONFIDENTIALITY AND PUBLICITY</p>
<p>4.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You shall, during the term of this licence and thereafter, keep confidential all, and shall not use for your own purposes nor without our prior written consent disclose to any third party any information of a confidential nature (including trade secrets and information of commercial value) which may become known to you from us and which relates to us, unless that information is public knowledge or already known to you at the time of disclosure, or subsequently becomes public knowledge other than by breach of this licence, or subsequently comes lawfully into the possession of you from a third party.</p>
<p>4.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nothing in this Agreement prevents us from seeking an immediate injunction or similar remedy from a court of competent jurisdiction to prevent or restrain breaches of the Agreement.</p>
<p>4.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We shall be entitled to commence proceedings for injunctive relief in addition to our other remedies in the event of a breach of this Agreement.</p>
<p>5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; INDEMNITY</p>
<p>5.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You shall indemnify us against all liabilities, costs, expenses, damages and losses (including but not limited to any direct, indirect or consequential losses, loss of profit, loss of reputation and all interest, penalties and legal costs (calculated on a full indemnity basis) and all other reasonable professional costs and expenses) suffered or incurred by us arising out of or in connection with:</p>
<p>5.1.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a breach of this Agreement;</p>
<p>5.1.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; corruption of data; or</p>
<p>5.1.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a breach of confidentiality.</p>
<p>6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LIMITS OF LIABILITY</p>
<p>6.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This clause 6 sets out our entire liability (whether financial or otherwise) to you arising under or in connection with this agreement or any representation, statement, act or omission (including negligence) arising under or in connection with this licence.</p>
<p>6.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We do not warrant that the use of the Value Chain Website will be uninterrupted or error-free.</p>
<p>6.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All other conditions, warranties or other terms which might have effect between us and you or be implied or incorporated into this licence or any collateral contract, whether by statute, common law or otherwise, are hereby excluded, including the implied conditions, warranties or other terms as to satisfactory quality, fitness for purpose or the use of reasonable skill and care.</p>
<p>6.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Except as expressly and specifically provided in this agreement all warranties, representations, conditions and all other terms of any kind whatsoever implied by statute or common law are, to the fullest extent permitted by applicable law, excluded from this agreement, and the Value Chain Website is provided on an "as is" basis.</p>
<p>6.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nothing in this agreement excludes our liability:</p>
<p>6.5.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; for death or personal injury caused by our negligence;</p>
<p>6.5.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; for fraud or fraudulent misrepresentation; or</p>
<p>6.5.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; any other liability which cannot be excluded or limited by English law.</p>
<p>6.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We shall not be liable whether in contract, tort (including negligence), breach of statutory duty, or otherwise for any loss of profits, business, goodwill, data, or for any special, indirect or consequential loss, costs or damages, even if foreseeable, under or in connection with this agreement.</p>
<p>6.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Our total aggregate liability in contract, tort (including negligence), breach of statutory duty, or otherwise, under or in connection with this agreement shall be limited to &pound;500.</p>
<p>7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; INTELLECTUAL PROPERTY RIGHTS</p>
<p>7.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You acknowledge that all Intellectual Property Rights in the Value Chain Website belong and shall belong to us or the relevant third-party owners (as the case may be), and you shall have no rights in or to the Value Chain Website other than the right to use it in accordance with the terms of this licence.</p>
<p>8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DURATION AND TERMINATION</p>
<p>8.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We may terminate the licence immediately by written notice to you:</p>
<p>8.1.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if you commit a material or persistent breach of this Licence which you fail to remedy (if remediable) within 14 days after the service of written notice requiring you to do so; or</p>
<p>8.1.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; at our discretion.</p>
<p>8.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Upon termination for any reason:</p>
<p>8.2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; all rights granted to you under this licence shall cease;</p>
<p>8.2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You must immediately cease all activities authorised by this licence; and</p>
<p>8.2.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your log in details will cease to be effective.</p>
<p>8.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Any provision of this agreement that expressly or by implication is intended to come into or continue in force on or after termination or expiry of this agreement shall remain in full force and effect.</p>
<p>8.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Termination or expiry of this agreement shall not affect any of our rights or remedies that have accrued up to the date of termination or expiry, including the right to claim damages in respect of any breach of the agreement which existed at or before the date of termination or expiry.</p>
<p>9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; WAIVER</p>
<p>No failure or delay by us to exercise any right or remedy provided under this agreement or by law shall constitute a waiver of that or any other right or remedy, nor shall it prevent or restrict the further exercise of that or any other right or remedy. No single or partial exercise of such right or remedy shall prevent or restrict the further exercise of that or any other right or remedy.</p>
<p>10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; REMEDIES</p>
<p>Except as expressly provided in this agreement, the rights and remedies provided under this agreement are in addition to, and not exclusive of, any rights or remedies provided by law.</p>
<p>11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ENTIRE AGREEMENT</p>
<p>11.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This Agreement together with any written agreement in respect of the same constitutes the entire agreement between us and you and supersedes and extinguishes all previous agreements, promises, assurances, warranties, representations and understandings between us and you, whether written or oral, relating to its subject matter.</p>
<p>11.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nothing in this clause shall limit or exclude any liability for fraud.</p>
<p>12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VARIATION</p>
<p>No variation of this Agreement shall be effective unless it is in writing and signed by us (or our authorised representatives).</p>
<p>13&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SEVERANCE</p>
<p>14&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If any provision or part-provision of this Agreement is or becomes invalid, illegal or unenforceable, it shall be deemed modified to the minimum extent necessary to make it valid, legal and enforceable whilst maintaining the original commercial intent of the parties. If such modification is not possible, the relevant provision or part-provision shall be deemed deleted. Any modification to or deletion of a provision or part-provision under this clause shall not affect the validity and enforceability of the rest of this Agreement.</p>
<p>15&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; THIRD-PARTY RIGHTS</p>
<p>A person who is not a party to this agreement shall not have any rights under the Contracts (Rights of Third Parties) Act 1999 to enforce any term of this agreement, but this does not affect any right or remedy of a third party which exists, or is available, apart from that Act.</p>
<p>16&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NO PARTNERSHIP OR AGENCY</p>
<p>16.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nothing in this agreement is intended to, or shall be deemed to, establish any partnership or joint venture between you and us, constitute either you or us as the agent of the other, or authorise either you or us to make or enter into any commitments for or on behalf of the other.</p>
<p>16.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You confirm to be acting on behalf of Toyota and Lexus not for the benefit of any other person other than as specified in this Agreement.</p>
<p>17&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FORCE MAJEURE</p>
<p>We shall not be in breach of this agreement nor liable for delay in performing, or failure to perform, any of our obligations under this agreement if such delay or failure result from events, circumstances or causes beyond our reasonable control. In such circumstances we shall be entitled to a reasonable extension of the time for performing such obligations.</p>
<p>18&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NOTICES</p>
<p>18.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Any notice given to us under or in connection with this contract shall be in writing and shall be delivered by hand or by pre-paid first-class post or other next working day delivery service at our registered office.</p>
<p>18.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Any notice given to you under or in connection with this contract shall be in writing and shall be delivered by hand or by pre-paid first-class post or other next working day delivery service at the address you provide to us.</p>
<p>18.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Any notice shall be deemed to have been received:</p>
<p>18.3.1&nbsp;&nbsp;&nbsp; if delivered by hand, on signature of a delivery;</p>
<p>18.3.2&nbsp;&nbsp;&nbsp; if sent by pre-paid first-class post or other next working day delivery service, at 9.00 am on the second Business Day after posting or at the time recorded by the delivery service.</p>
<p>18.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This clause does not apply to the service of any proceedings or other documents in any legal action or, where applicable, any arbitration or other method of dispute resolution.</p>
<p>18.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For the purposes of this clause, "writing" shall not include e-mail.</p>
<p>19&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; GOVERNING LAW AND JURISDICTION</p>
<p>19.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This agreement and any dispute or claim arising out of or in connection with it or its subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of England and Wales.</p>
<p>19.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You and we irrevocably agree that the courts of England and Wales shall have exclusive jurisdiction to settle any dispute or claim that arises out of or in connection with this agreement or its subject matter or formation (including non-contractual disputes or claims).</p>