﻿html, body, form 
{
	padding: 0px;
	margin: 0px;
	background-color: #5081c0;
	border: 0px;
	height: 100%;
	font-family: Tahoma, Verdana, Verdana;
    font-size: small;
    color: #303440;
}

/* Site Header Styles */
a.Logo {
	float: left;
	margin: 21px 0px 0px 39px;
	width: 165px;
	height: 49px;
	overflow: hidden;
	background-image: url('logo.gif');
	background-repeat: no-repeat;
}

table.MainMenuContainer {
    float: right;
    height: 85px;
    margin: 0px;
    padding: 0px;
    margin-right: 16px;
    clear: right;
    border: none;
    border-collapse: collapse;
}
td.SearchPanel {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}
td.MainMenu {
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
}
td.SearchLabel {
	color: #748698;
	font-size: 12px;
}
a.AdvancedSearch {
    font-size: smaller;
}
a.SiteMap {
    width: 11px;
    height: 11px;
    display: block;
    overflow: hidden;
    background-image: url('sitemap.gif');
    background-repeat: no-repeat;
}
div.SPSeparator {
    width: 1px;
    height: 17px;
    overflow: hidden;
    background-color: #a8b9ca;
}
.dxeTextBox_SS {
	width: 200px;
	height: 19px;
	padding: 0px 4px 0px 4px;
}
.dxeEditArea_SS {
    background-color: White!important;
    font-family: Tahoma;
    font-size: 12px;
    color: #303440;
	border: 0px!important;
}


/* Root Tables Styles */
table#Root
{
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}
td#RootLeft, td#RootRight 
{
	background-repeat: repeat-y;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	width: 50%;
}
td#RootLeft 
{
	background-image: url('rootBgLeft.gif');
	/*background-image: url('rootBgLeftx.gif'); xmas */
	background-position: right top;
	border-right: solid 1px #35619d;
}
td#RootRight 
{
	background-image: url('rootBgRight.gif');
	/*background-image: url('rootBgRightx.gif');  xmas */
	background-position: left top;
	border-left: solid 1px #35619d;

}
td#RootCenter
{
	background-color: White;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	background-image: url('topBg.gif');
	background-position: left top;
	background-repeat: repeat-x;
}
div#CenterSpacer {
	width: 1022px;
	height: 1px;
	overflow: hidden;
}
div#RootTopLeft, div#RootTopRight
{
	border: 0px;
	background-repeat: no-repeat;
	width: 100%;
	height: 520px;
}
div#RootTopLeft
{
	border-collapse: collapse;
	background-image: url('rootBgTopLeft.gif');
	/*background-image: url('rootBgTopLeftx.gif'); xmas */
	background-position: right top;
}
div#RootTopRight
{
	background-image: url('rootBgTopRight.gif');
	/*background-image: url('rootBgTopRightx.gif'); xmas */
	background-position: left top;
}
div#Main 
{
	padding: 0px;
	margin: 7px 16px 9px 16px;
	clear: both;
}

div#Footer {
	padding: 91px 32px 27px 32px;
	margin-bottom: 27px;
	color: #a6acb7;
	font-size: 12px;
	
}
div#FooterLogo {
	width: 138px;
	height: 31px;
	overflow: hidden;
	background-image: url('footer_logo.gif');
	background-repeat: no-repeat;
}
div#Copyright {
	font-size: 10px;
}
div#FooterSeparator {
	margin: 0px 20px 0px 14px;
	height: 43px;
	width: 1px;
	overflow: hidden;
	background-color: #d2d5db;
}

/* Page Title Control */
h1 {
	margin: 0px!important;
	padding: 0px!important;
	font-size: 195%!important;
	font-weight: normal!important;
	color: White!important;
	letter-spacing: 101%;
}
table.ptitle {
	margin: 0px;
	padding: 0px;
	margin-bottom: 13px;
}

/* SideMenu NavBar */
/* header styles */
table.nbh {
	height: 29px;
	width: 100%;
	background-image: url('../NB/nbh.gif');
	background-repeat: repeat-x;
	padding: 0px;
	margin: 0px;
	border: none;
	border-collapse: collapse;
	background-color: #5c8ac4;
}
table.nbh td {
	padding: 0px;
	margin: 0px;
	border: none;
}
td.nbc {
	color: White;
	padding: 7px 10px 0px 10px!important;
	font-weight: normal;
	font-size: 12px;
	width: 100%;
	white-space: nowrap;
}
td.nbbutton {
	padding: 9px 8px 0px 0px!important;
}
div.nbhl, div.nbhr {
	width: 2px;
	height: 29px;
	/*overflow: hidden;*/
	background-repeat: no-repeat;
}
div.nbhl {
	background-image: url('../NB/nbhl.gif');
}
div.nbhr {
	background-image: url('../NB/nbhr.gif');
}
/* item styles */
.dxnbGroupContent_nb {
	border: solid 1px #d0dae2;
	padding: 2px 2px 2px 2px;
	background-color: White;
}
.dxnbItem_nb a {
	font-size: small;
	text-decoration: none!important;
	color: #191922!important;
	font-size: 12px;
	display: block;
}
.dxnbItem_nb a.nbitemnoicon {
	margin: 3px 6px 4px 8px;
}
.dxnbItem_nb a.nbitem {
	margin: 3px 6px 4px 0px;
}
.dxnbItem_nb img {
	margin: 0px 6px 0px 6px;
}
.dxnbItem_nb {
	background-color: White;
	border: solid 1px White;
}
.dxnbItemHover_nb {
	background-color: #e1eaf7;
	border: solid 1px #c4cfdf;
}
.dxnbItemSelected_nb {
	color: White;
	background-color: #91a3bc;
	border: solid 1px #8092ab;
}
.dxnbItemSelected_nb a {
	color: White!important;
}
.dxnbLoadingPanel_nb {
	margin: 50px auto;
}
/* general container table - many controls may rely on it */
table.container, table.container td {
	padding: 0px;
	margin: 0px;
	border: none;
	border-collapse: collapse;
}
div.container {
	margin: 0px;
	padding: 0px;
	margin-bottom: 13px;
}


/* SideMenu */
div.SideMenu {
	padding: 0px;
	margin: 0px;
	margin-bottom: 13px;
}

/* PageControl */
.dxtcControl_pc {
	padding: 0px;
	margin: 0px;
	margin-bottom: 13px;
}
.dxtcPageContent_pc {
	border: solid 1px #6491c7!important;
	border-top-width: 4px!important;
	background-color: White;
	overflow: hidden;
}
/* resetting padding for first element in pagecontrol - hack */
.dxtcPageContent_pc *:first-child {
	margin-top: 0px;
}
.dxtcTab_pc, .dxtcActiveTab_pc {
	padding: 3px 23px 3px 23px;
	background-color: #7ba3d4;
	color: White;
}
.dxtcActiveTab_pc {
	background-color: #6491c7; 
}
.dxtcTabHover_pc {
	background-color: #5081c0;
}

/* code block */
div.code {
	margin: 0px;
	padding: 6px;
	margin-bottom: 13px;
}
div.code p.langtitle {
	font-weight: bold;
}
div.code code {
	font-family: Courier New;
	font-size: small;
}
.dxtcPageContent_pc div.code {
	margin: 0px;
	padding: 0px;
	border: none;
}
.dxtcPageContent_pc div.code + * {
	margin: 0px;
	margin-top: 13px!important;
}

/* review */
span.review {
	background-color: Yellow;
}

/* BreadCrumbs */
span.BreadCrumbs {
	color: #656981;
}

/* Recent News */
div.RecentNews {
	padding: 0px;
	margin: 0px 4px 13px 4px;
}
.dxhlControl_rn {
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
}
.dxhlDateLeftPanel_rn {
	color: #abc5e5;
	font-size: 10px;
	width: 47px;
}
.dxhlContent_rn a {
	font-size: 12px;
	color: White!important;
	text-decoration: none;
}
.dxhlContent_rn a:hover {
	text-decoration: underline!important;
}
div.NewsSeparator {
	padding: 0px 0px 9px 60px;
}
div.NewsSeparator div {
	padding: 0px;
	margin: 0px;
	background-color: #abc5e5;
	width: 100%;
	height: 1px;
	overflow: hidden;
}


/* News Item */
.dxhlLeftPanel_nitem {
	padding-right: 14px;
	border-right: solid 1px #b9c0cc;
}
.dxhlHeader_nitem {
	margin: 0px;
	margin-bottom: 11px;
	font-size: 130%;
	font-weight: lighter;
	color: #576fa5;
	line-height: 14px;
}
div.NewsItem {
	margin-bottom: 39px;
}
.dxhlContent_nitem {
	padding-bottom: 1px;
}

/* Layout */
div.Layout {
	padding: 0px;
	margin: 0px;
	margin-bottom: 13px;
}
div.Layout table {
	border-collapse: collapse;
	border: none;
	margin: 0px;
	padding: 0px;
	border: none;
}
div.Layout td {
	margin: 0px!important;
	padding: 0px!important;
}
div.Layout td *:first-child {
	margin-top: 0px;
}
div.Layout table td.groupspacer div {
	height: 1px;
	overflow: hidden;
}


/* ------------------ CONTENT ------------------- */
a, a:hover, a:active {
	color: #0072bc;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #a475b5;
}
strong {
	font-weight: bold;
	color: #595d66;
}
span.under {
	text-decoration: underline;
}
i {
	font-style: italic;
}

h2 {
	color: #576fa5;
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0px;
	font-weight: lighter;
	font-size: 210%;
}

h3 {
	color: #576fa5;
	font-weight: lighter;
	font-size: 170%;
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0px;
}
h4 {
	color: #576fa5;
	font-weight: lighter;
	font-size: 130%;
	margin: 20px 0px 10px 0px;
	padding: 0px;
}
p {
	margin-top: 0px!important;
	margin-bottom: 13px!important;
	padding: 0px;
}

p.pex{
	margin-bottom: 26px!important;
}

/* quote */
div.quote {
	padding: 0px;
	margin: 0px;
	margin-bottom: 13px;
}
td.quoteleft, td.quoteright {
	vertical-align: top;
	padding-top: 2px;
}
td.quoteleft div {
	width: 44px;
	height: 16px;
	background-image: url('quoteright.gif');
	background-repeat: no-repeat;
	overflow: hidden;
}
td.quoteright div {
	width: 44px;
	height: 16px;
	background-image: url('quoteleft.gif');
	background-repeat: no-repeat;
	overflow: hidden;
}

/* lists */
ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	padding-top: 2px;
}
ul.list {
	margin-left: 7px;
	margin-top: 0px;
	margin-bottom: 13px;
}
li {
	margin: 0px;
	padding: 0px;
	background-image: url('bul.gif');
	background-repeat: no-repeat;
	background-position: left 6px;
	padding-left: 13px;
	margin-bottom: 4px;
}
ul>ul {
	margin-left: 13px;
}
/* list without bullets */
ul.style-none {
	margin-left: 0px!important;
}
ul.style-none li {
	background-image: none!important;
	padding-left: 7px!important;
}


/* Table */
div.dxtable {
	margin: 0px;
	margin-bottom: 13px;
	padding: 0px;
}
div.dxtable table {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	border: none;
}
div.dxtable table.wb, div.dxtable table.wb th, div.dxtable table.wb td {
	border: solid 1px #8fb1d9;
}
/* removing top margin for first element in td or th */
div.dxtable td *:first-child, div.dxtable th *:first-child {
	margin-top: 0px;
}
div.dxtable th {
	background-color: #cddef4;
	padding: 4px;
	margin: 0px;
}
div.dxtable td {
	padding: 4px;
	margin: 0px;
	border-collapse: collapse;
	border: none;
	font-size: small;
}
div.dxinternaltable {
	margin: 0px;
}
div.dxinternaltable table {
	margin: 0px;
	padding: 0px;
	border: none;
}
div.dxinternaltable td, div.dxinternaltable th {
	padding: 0px;
	margin: 0px;
	border: none;
}
/* preview */
td.preview {
	background-color: #eff5fc;
	color: #557aaa;
	padding: 20px!important;
}
/* vseparator */
div.dxtable td.vseparator div {
	width: 1px;
	height: 1px;
	overflow: hidden;
}
div.dxtable td.vseparator {
	width: 1px;
	padding: 0px;
	margin: 0px;
	background-color: #b9c0cc;
}

/* Content Block */
div.contentblock {
	padding: 0px;
	margin: 0px;
	margin-bottom: 13px;
}
div.contentblock table {
	border: none;
	border-collapse: collapse;
}
div.contentblock table td *:first-child {
	margin-top: 0px;
}
td.imagearea, td.contentarea {
	vertical-align: top;
}
td.contentarea {
    text-align: left!important;
}
td.imagearea {
	width: 0px;
	padding-top: 2px;
}
td.contentspacer div {
	width: 10px;
	height: 1px;
	overflow: hidden;
}
td.contentseparator {
	background-color: #b9c0cc;
	width: 1px;
}
td.contentseparator div {
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* Pager */
div.pager {
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
	text-align: center;
}
div.pager span.pager-name {
	font-weight: bold;
}
div.pager span.pager-selected {
	font-weight: bold;
}

/* Lessons */
div.lessons {
	padding: px;
	margin: 0px;
	margin-bottom: 13px;
}
.dxrpHeader_lsn table td{
	padding-top: 6px;
	color: White;
	font-size: 17px;
	font-family: Tahoma;
	line-height: 110%;
	
}
.dxnbControl_lsn {
	border: solid 1px White;
}
.dxnbGroupContent_lsn {
	background-color: #7ba3d4;
	padding: 17px;
	color: White;
}
.dxnbGroupContent_lsn a {
    color: White;
}
.dxnbGroupContent_lsn span.note {
    font-size: 80%;
}
.note {
    font-size: 90%;
}
.dxnbGroupHeader_lsn {
	width: 100%;
	padding: 6px 5px 7px 15px;
	background-color: #6491c7;
	border-bottom: solid 1px #9db7d8;
	color:White;
}
.dxnbGroupHeaderCollapsed_lsn {
	width: 100%;
	padding: 6px 5px 7px 15px;
	background-color: #d5e9ff;
}
.dxnbGroupHeaderCollapsedHover_lsn {
	background-color: #5081c0;
	color: White;
}
table.lesson {
	width: 100%;
}
td.lessontext {
	width: 100%;
	padding-right: 15px;
}

/* divider */
div.divider {
	padding: 0px;
	margin: 0px;
	margin-bottom: 13px;
	overflow: hidden;
	width: 100%;
	background-color: #b3bcc3;
}

/* ProductInfo */
div.ProductInfo {
	margin: 0px;
	padding: 0px;
	margin-bottom: 13px;
}
div.ProductInfo td.caption {
	padding-bottom: 10px;
}
div.ProductInfo td.title {
	font-weight: lighter;
	font-size: 130%;
	padding: 0px;
	width: 100%;
}
div.ProductInfo td.info {
	text-align: right;
	padding-left: 12px;
	white-space: nowrap;
}
div.ProductInfo td.title a {
	text-decoration: none;
}
div.ProductInfo td.title a:hover {
	text-decoration: underline!important;
}
div.ProductInfo td {
	padding: 0px;
	margin: 0px;
	padding-bottom: 4px;
	vertical-align: top;
}
div.ProductInfo td.fc { /* feature caption */
	white-space: nowrap;
	padding-right: 8px;
	font-weight: bold;
	color: #70747d;
}
div.ProductInfo td.fd { /* feature data */
	width: 100%;
}

/* link icon */
img.linkicon {
	width: 16px;
	height: 16px;
	border: none;
	vertical-align: middle;
	margin-right: 7px;
	padding-top: 1px;
}
img.linkicon32 {
	width: 32px;
	height: 32px;
	border: none;
	vertical-align: middle;
	margin-right: 7px;
	padding-top: 1px;
}

/* inputs */

input, textarea, select, option {
	background-color: White;
	border: solid 1px #9ca3a9;
	font-family: Tahoma;
	font-size: 100%;
}
option {
	border: none;
}

input[type='checkbox'] {
	border: none!important;
	background-color: White;
}

/* Web & Editors */
.dxbButton_DX {
	background-color: #4386c4;
	background-image: url('../Editors/dxbBack.gif');
	background-position: top;
	background-repeat: repeat-x;
	color: White;
	font-family: Tahoma;
	font-size: 12px;
	cursor: pointer;
	border: solid 1px #3b79b5;
	vertical-align: middle;
	padding: 0px 13px 0px 13px!important;
	height: 20px!important;
	white-space: nowrap;
}
.dxbButtonHover_DX {
	background-image: url('../Editors/dxbBackHover.gif');
}
.dxbButtonPressed_DX {
	background-image: url('../Editors/dxbBackPressed.gif');
}

.dxpcControl_DX {
	background-color: White;
	border: solid 1px #717c8f;
	padding: 0px;
}
.dxpcHeader_DX {
	height: 22px;
	background-color: #909fb0;
	color: White;
	font-size: 12px;
	background-image: url('../Web/pcHeaderBackground.gif');
	background-repeat: repeat-x;
	padding: 0px;
	padding-left: 9px!important;
	border-bottom: solid 1px #717c8f;
}

.dxpcContent_DX {
	padding: 17px;
}
.dxpcCloseButton_DX {
	height: 20px;
	padding: 0px;
	padding-right: 8px;
}
.dxeTextBox_DX {
	border: solid 1px #9ca3a9;
	background-color: White;
	border-collapse: collapse;
	height: 23px;
}
.dxeEditArea_DX {
	height: 100%;
}
.dxeListBox_DX {
    background-color: White!important;
    border: Solid 1px #5E7892;
}
.dxeListBox_DX {
	margin-top: 3px;
}
.dxeListBox_DX div.dxlbd {
	background-color: White!important;
    font-family: Tahoma;
    font-size: 12px;
    color: #191922;
    padding: 2px;
}
.dxeListBoxItem_DX {
    border: Solid 1px White;
    padding: 2px 8px 3px 8px;
    white-space: nowrap;
    text-align: left;
    font-family: Tahoma;
    font-size: 12px;
    color: #191922;
}
.dxeListBoxItemHover_DX {
    background-color: #E1EAF7;
    border: Solid 1px #C4CFDF; 
}
.dxeTextBox_DX td {
	padding: 0px 4px 0px 4px;
}
.dxeEditArea_DX {
	/*padding: 0px 4px 0px 4px!important;*/
	padding: 0px!important;
	margin: 0px!important;
    background-color: White!important;
    font-family: Tahoma;
    font-size: 12px;
    color: #303440;
	border: 0px;
}
.dxeButtonEdit_DX {
    background-color: White!important;
}
/* -- ASPxPager -- */
.dxpControl_DX
{
	color: #798ea8;
	background-color: #ebeef8!important;
	padding: 2px 2px 2px 2px;
}
.dxpPageNumber_DX
{
	color: #0072bc;
	text-decoration: underline;
	text-align: center;
	vertical-align: middle;
	padding: 0px 5px 0px 5px;
}
.dxpCurrentPageNumber_DX
{
	color: White;
	text-decoration: none;
	padding: 0px 3px 0px 3px;
	background-color: #0072bc;
}
.dxpSummary_DX
{
	color: #798ea8;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	padding: 0px 4px 0px 4px;
}
/* -- Calendar -- */
.dxeCalendar_DX
{ 
    /*border: solid 1px #8a0a37;*/
    background-color: #ffffff;
}
.dxeCalendar_DX td.dxMonthGrid 
{
    padding: 3px 22px 6px 21px;
    cursor: default;
}
.dxeCalendar_DX td.dxMonthGridWithWeekNumbers
{
    padding: 3px 19px 6px 7px;
    cursor: default;
}
.dxeCalendarDayHeader_DX
{
    font-family: Tahoma;
    font-size: 9pt;        
    padding: 3px 5px 6px 6px;
    border-bottom: solid 1px #cfcfcf;
}
.dxeCalendarWeekNumber_DX
{    
    font-family: Tahoma;
    font-size: 7pt;    
    text-align: right;      
    color: #bfbfbf;
    padding: 3px 3px 2px 4px;
}
.dxeCalendarDay_DX
{    
    font-family: Tahoma;
    font-size: 9pt;
    text-align: center;    
    padding: 3px 7px 4px 7px;
}
.dxeCalendarWeekend_DX        /* inherits dxeCalendarDay */
{
    color: #c00000;
}
.dxeCalendarOtherMonth_DX     /* inherits dxeCalendarDay */
{
    color: #888;
}
.dxeCalendarOutOfRange_DX     /* inherits dxeCalendarDay */
{
    color: #d0d0d0;    
}
.dxeCalendarSelected_DX       /* inherits dxeCalendarDay */
{
    color: #ffffff;
    background-color: #009bff;
}

.dxeCalendarToday_DX         /* inherits dxeCalendarDay */
{
    color: #ffffff;
    background-color: #0072bc;   
}
.dxeCalendarHeader_DX
{
    color: White;
    background: #4386c4 url('../Editors/edtCalendarHeaderBack.gif') top;
    border-bottom: solid 1px #3b79b5;
    padding: 1px 1px;
}
.dxeCalendarHeader_DX td.dxe
{
    color: #ffffff;        
    font-family: Tahoma;
    font-size: 9pt;
    text-align: center;
	cursor: pointer;
	cursor: hand;
}
.dxeCalendarFooter_DX 
{
    background-color: #d1e5ff;
    padding: 5px 0px;    
    padding-bottom: 5px;   
    border-top: solid 1px #abc0db;
}
.dxeCalendarFastNav_DX
{
    color: #000000;
    background: #FFFFFF;
    border: Solid 1px #7f9db9;
    border-bottom: 0px;
    padding: 12px 8px;
}
.dxeCalendarFastNavMonthArea_DX
{
    padding: 0px 9px;
}
.dxeCalendarFastNavYearArea_DX
{    
}
.dxeCalendarFastNavFooter_DX
{
    color: #000000;
    background-color: #d1e5ff;
    padding: 5px 0px;    
    border: Solid 1px #7f9db9;
    border-top: Solid 1px #abc0db;
}
.dxeCalendarFastNavMonth_DX, .dxeCalendarFastNavYear_DX
{
    font: normal 9pt Tahoma;
    color: #000000;
    padding: 3px 4px;
    text-align: center;
	cursor: pointer;
	cursor: hand;
	border: Solid 1px White;
}
.dxeCalendarFastNavMonth_DX
{
	padding: 5px;
}
.dxeCalendarFastNavMonthSelected_DX, .dxeCalendarFastNavYearSelected_DX
{
    color: #FFFFFF;
    background-color: #0072bc;
    border: Solid 1px White;
}

.dxeCalendarFastNavMonthHover_DX, .dxeCalendarFastNavYearHover_DX
{        
    color: #FFFFFF;
    background: #009bff;
    padding: 2px 4px;
    border: Solid 1px White;
}
.dxeCalendarFastNavMonthHover_DX
{
	padding: 5px;
}

/* DX Auth controls */

/* control groups */
div.ControlGroup, ControlGroup
{
	padding: 0px 3px 3px 2px;
	border-bottom: solid 1px #98a3b5;
	margin-bottom: 11px;
}
div.ControlGroup span {
	color: #61718d;
	font-size: 105%;
	letter-spacing: 110%;
}

div.DXAC_ActionArea, div.DXAC_ActionArea_Groupped {
	margin: 10px 0px 10px 0px;
}
div.DXAC_ActionArea_Groupped {
	padding-top: 21px;
	margin: 30px 0px 10px 0px;
	border-top: solid 1px #98a3b5;
	text-align: center;
}
div.DXAC_ActionArea_Groupped {
	text-align: center!important;
}

div.DXAC_ActionArea_Newsletter {
	margin: 20px 0px 30px 0px;
}

/* hacks */
div.auth>div>table {
	margin-bottom: 13px;
}

/* SpinTheWheel */
div.v-spinthewheel { 
    width: 490px;
    margin: 0px auto; 
}
table.v-spinthewheel { 
    width: 100%;
    margin: 0px 0px 0px 0px; 
}
td.v-spinthewheel-label-cell { 
    padding: 0px 16px 8px 0px;
    white-space: nowrap;
}
td.v-spinthewheel-cell { 
    padding: 0px 0px 8px 0px; 
    width: 100%;
}
table.v-spinthewheel .dxeErrorCell_DX {
    color: Red;
    font-style: italic;
}
.v-spinthewheel-button { float: right; }