﻿body {
    
}
.mcsc { background-color: #fff; 


}

.mainform
{
    position: relative;
	font-size: 12px !important;
	font-family:Calibri,Verdana; 
}

.textnormal
{
	font-weight:normal ;  	
	font-size: 12px !important;
	font-family: Verdana, Geneva, sans-serif;
}	

.textlarger
{
	font-weight:normal;  	
	font-size: 14px !important;
	font-family:Calibri,Verdana; 
}	

.textnotes
{
	font-weight:normal;  	
	font-size: 10px !important;
	font-family:Calibri,Verdana; 
    font-style:italic;
}	

.texterror
{
	font-weight:normal;  	
	font-size: 12px !important;
	font-family:Questrial,Verdana; 
    color: Red;
}	

.textheading
{
	font-size:16px !important;
	font-weight:400;
	font-family:Questrial,Verdana; 
}	

.dxmLite .dxm-main {
 border: 0; 
 background-color: transparent; 
 padding: 0;
}

.dxmLite .dxm-main .dxm-checked, .dxmLite .dxm-selected, .dxmLite .dxm-hovered, .dxmLite .dxm-main .dxm-dropDownMode.dxm-checked .dxm-popOut, .dxmLite .dxm-dropDownMode.dxm-selected .dxm-popOut, .dxmLite .dxm-dropDownMode.dxm-hovered .dxm-popOut {
border-color: transparent;
}

.dxmLite .dxm-main .dxm-hovered {
background-color: transparent; 

}

.dxmLite .dxm-popup .dxm-gutter {
background-image: none;
}

.dxmLite .dxm-popup {
border: none;
background-color:#ffffff;
 padding: 1px; 
}

.special {
    border: none;
    background: none !important;
    padding: 0px;
}

.extraMenu {
    border: none;
    background: none;
    padding: 0px;
    height:30px;
    width:35px;
}

a.dxeHyperlink {
color: #000;
}

a.dxeHyperlink:visited {
color: #000;
}

a.dxeHyperlink:hover {
color: #000;
}

.dxm-item dxm-noSubMenu, .dxm-item dxm-noSubMenu dxm-hovered{
    min-width:0px !important;
}

.dxmLite .dxm-horizontal .dxm-image-l .dxm-content, .dxmLite .dxm-horizontal .dxm-image-r .dxm-content {
padding: 0px 2px 4px;
}

.dxbButton div.dxb {
padding: 0px 2px 4px;
border: 1px dotted transparent;
}

.dxgvHeader {
    background-color: transparent;
    background: url('popGradient.gif') repeat-x center center;
}

.dxgvTitlePanel, .dxgvTable caption {
font-size: 1.25em;
font-weight: normal;
padding: 0; 
text-align: center;
background-color: #ACACAC;
color: White;
 border-bottom: 0; 
}

ul.HeadOfficeList {
margin: 0;
padding: 0;
}

.HeadOfficeList {
list-style-type: none;
}

.HeadOfficeList li {
line-height: 35px;
background: url('popGradient.gif') repeat-x center center;
text-align: center;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
margin: 5px 0;
}

.HeadOfficeList li a {
padding: 5px;
font-size: 12px;
font-weight: 700;
}

.dxdvItem {
    background-color:#ffffff;
}

.dxdvControl td.dxdvCtrl {
padding: 7px 5px;
}

input[type="checkbox" i] {
	margin:3px 3px 3px 0px;
}

table#tabCentreSpec1 {
margin-top: 20px;
}

table#tabServices {
margin-top: 20px;
}

/*************************
          Global
**************************/

ul.inline_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.inline_list > li {
    display: inline-block;
    margin-right: 15px;
}

/*************************
         Header
**************************/

#PageHeader {
    margin-bottom: 22px;
}

/*************************
        Menu Icons
**************************/

.menu_icons li {
    min-width: 0 !important;
}

.menu_icons li > div, .menu_icons li > a {
    padding: 3px 3px 4px !important;
}

.menu_icons > ul > li:first-child > a, .menu_icons > ul > li:first-child > div.dxm-content {
    padding-left: 0 !important;
}

/*************************
       Icon Buttons
**************************/

.icon_buttons > div:hover {
    background-color: transparent;
}

.icon_buttons img {
    width: 100px;
}

/*************************
       Check Boxes
**************************/

.chkBoxCatLabel > input {
    display: none;
}

.chkBoxCatLabel > label {
    font-weight: bold;
}

/*************************
        Grid Styles
**************************/

.grid_styles {
    font-size: 8pt;
    border: 1px solid #4E4F51;
}

.graph_respond {
    height: auto !important;
    width: 100% !important;
}

.graph_respond > img {
    max-width: 100%;
}

/*************************
    Head Office Menu
**************************/

ul.head_office {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.head_office > li > a, ul.head_office > li > a:visited {
    background: #E0DFDF;
    background: -moz-linear-gradient(180deg, #fff 18%, #E0DFDF);
    background: -webkit-linear-gradient(180deg, #fff 18%, #E0DFDF);
    background: linear-gradient(180deg, #fff 18%, #E0DFDF);
    color: #000;
    padding: 10px 15px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #a8a8a8;
}

ul.head_office > li > a:hover {
    background: #fff;
}

/*************************
        Page Tabs
**************************/

.page_tabs {
    margin-top: 10px;
}

.page_tabs > ul > li.dxtc-tab {
    background-color: #E0E0E0 !important;
}

.dxtcLite > .dxtc-stripContainer .dxtc-tab, .dxtcLite > .dxtc-stripContainer .dxtc-activeTab {
    border: 1px solid #A8A8A8 !important;
}

.dxtcLite_Office2010Black > .dxtc-stripContainer .dxtc-tab, 
.dxtcLite_Office2010Black > .dxtc-stripContainer .dxtc-activeTab, 
.dxtcLite_Office2010Black > .dxtc-stripContainer .dxtc-leftIndent, 
.dxtcLite_Office2010Black > .dxtc-stripContainer .dxtc-spacer, 
.dxtcLite_Office2010Black > .dxtc-stripContainer .dxtc-rightIndent, 
.dxtcLite_Office2010Black > .dxtc-stripContainer .dxtc-sbWrapper, 
.dxtcLite_Office2010Black > .dxtc-stripContainer .dxtc-sbIndent,
.dxtcLite_Office2010Black > .dxtc-stripContainer .dxtc-sbSpacer {
    border-bottom: 1px solid #a8a8a8 !important;
}

.dxtcLite_Office2010Black.dxtc-top > .dxtc-stripContainer .dxtc-tab, 
.dxtcLite_Office2010Black.dxtc-top > .dxtc-stripContainer .dxtc-activeTab {
    border: 1px solid #a8a8a8 !important;
}

.dxtcLite_Office2010Black.dxtc-top > .dxtc-stripContainer .dxtc-activeTab,
 .dxtcLite_Office2010Black.dxtc-top.dxtc-rtl > .dxtc-stripContainer .dxtc-activeTab {
    border-bottom-width: 0 !important;
}

.dxtcLite_Office2010Black > .dxtc-content {
    border: 1px solid #a8a8a8 !important;
}

/*************************
          Icons
**************************/

.dxbButton_Office2010Black.special div.dxb {
    padding: 2px 14px 2px 0;
}

.dxbButton_Office2010Black div.dxb.dxbf {
    border: none;
}

.dxbButton_Office2010Black.special.menu_icon div.dxb {
    padding-right: 4px !important;
}

/*************************
        Menu Links
**************************/

ul.menu_links {
    list-style: none;
    padding: 0;
    margin-top: 33px;
}

ul.menu_links > li {
    display: inline-block;
    margin-left: 10px;
}

ul.menu_links > li > a {
    text-decoration: none;
    color: #7d7d7d;
}

ul.menu_links > li > a:hover {
    color: #c3002f;
}

.dxbButton_Office2010Black {
    color: #000;
    background: #E0DFDF;
    background: -moz-linear-gradient(180deg, #fff 18%, #E0DFDF);
    background: -webkit-linear-gradient(180deg, #fff 18%, #E0DFDF);
    background: linear-gradient(180deg, #fff 18%, #E0DFDF);
    border: 1px solid #a8a8a8;
}

.dxbButtonHover_Office2010Black {
    color: #000;
    background: #fff;
}

.dxeButtonEditButton_Office2010Black, 
.dxeSpinLargeIncButton_Office2010Black, 
.dxeSpinLargeDecButton_Office2010Black {
    background: #E0DFDF;
    background: -moz-linear-gradient(180deg, #fff 18%, #E0DFDF);
    background: -webkit-linear-gradient(180deg, #fff 18%, #E0DFDF);
    background: linear-gradient(180deg, #fff 18%, #E0DFDF);
    border: none;
    border-left: 1px solid #a8a8a8;
}

.dxeButtonEditButtonHover_Office2010Black, 
.dxeSpinLargeIncButtonHover_Office2010Black, 
.dxeSpinLargeDecButtonHover_Office2010Black {
    background: #fff;
}

.dxeButtonEdit_Office2010Black {
    border: 1px solid #a8a8a8;
}



.col {
    width: 100%;
    margin: 10px auto !important;
}

.col1000 {
    width: 1000px !important;
    margin: 10px auto !important;
}

.col1200 {
    width: 1200px !important;
    margin: 10px auto !important;
}

.col1400 {
    width: 1400px !important;
    margin: 10px auto !important;
}

    .col1000:after,
    .col1200:after,
    .col1400:after {
        clear: both;
    }

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}